[2017-10-17 18:32] nolanmar511 opened #13 "Stop using GetCallUid"
GetCallUid  (used here https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/master/bindings/cpu-profiler.cc#L34) will be deprecated soon. See: https://cs.chromium.org/chromium/src/v8/include/v8-profiler.h?q=v8-profiler&sq=package:chromium&dr&l=203

We should switch to using GetScriptId, GetLineNumber, and GetColumnNumber instead.

[2017-10-19 18:20] nolanmar511 opened #14 "Note units in variable names"
Variables like "startTime and "endTime" in the TimeProfile interface (https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/master/src/v8-types.ts#L21) should note the units used in the variable name (for example "startTimeNanos").

[2017-10-19 18:23] nolanmar511 opened #15 "Efficiency of profile-serializer"
Stop using "getIndexOrAdd", which is O(n).

Address other comments from after #11 was merged.

[2017-10-20 19:49] nolanmar511 opened #18 "Profile Serialization, only one location per function possible."
Right now, serializeTimeProfile is written such that there can only be one location per function. This isn't a problem now, since profiles produced by v8 are aggregated at the function level, but should still be fix.

https://cs.chromium.org/chromium/src/v8/include/v8-profiler.h?q=v8-profiler&sq=package:chromium&dr&l=203
Using GetScriptId, GetLineNumber, and GetColumnNumber might help with this.

[2017-10-20 21:32] aalexand commented on #18
File another issue on checking that the line number if actually provided in
the profiles and make sure we put it in the converted profiles?

On Fri, Oct 20, 2017 at 12:49 PM, Margaret Nolan <notifications@github.com>
wrote:

--
Alex

[2017-10-20 21:36] nolanmar511 opened #19 "Time profile sample / call site locations should carry accurate line number"
Check that profile line numbers are provided by v8 profiler and make sure that (if provided) line number is in serialized profile

[2017-10-20 22:50] nolanmar511 opened #20 "Which profiling configuration settings should the user be able to configure?"
Decide which parameters for profiling (for example, sampling Interval) the use should be able to configure and then make these configurable.

[2017-10-24 16:20] nolanmar511 opened #22 "Get profile duration from response to create profile."
Right now, profile duration for time profile is hard coded. Instead, we should get the profile duration from the response to create profile.

[2017-10-24 18:24] ofrobots opened #23 "Drop dependency on extend"
The versions of Node this module aims to support have built-in support for [`Object.assign`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign) which can be used instead of extend.

[2017-10-24 18:32] #20 closed

[2017-10-24 18:32] aalexand commented on #20
Let's just provide minimal configuration as a start, and then see what customers ask for.

[2017-10-24 22:43] aalexand commented on #19
@ofrobots We would like to have accurate per-source-line locations in the profiles, is this possible?

[2017-10-24 22:44] aalexand commented on #19
@nolanmar Please also take a look at whether we include parent lexical function name into the (anonymous) function names in the profiles

[2017-10-24 23:30] ofrobots commented on #19
/cc @hashseed

[2017-10-24 23:32] ofrobots commented on #20
I would still like to avoid hard coded constants distributed through the code base. If you need to use a constant add it to `internalConfig` object so that we have inventory and a single place to change / promote to regular config.

[2017-10-24 23:42] aalexand opened #24 "Define in a single place constants used by the profiler code"
For those constants that we currently don't allow customizing via the configuration, use something like `internalConfig` to define their values, as opposed to defining in various random places.

Filed from discussion in #20.

[2017-10-24 23:42] aalexand commented on #20
@ofrobots I filed #24.

[2017-10-26 05:25] ofrobots opened #27 "Import profiler.proto into this project"
As far as I can tell, `profile.proto` is a subset of [profiler.proto](https://github.com/googleapis/googleapis/blob/master/google/devtools/cloudprofiler/v2/profiler.proto). Can we drop `profile.proto` and instead vendor in `profiler.proto` instead?

/cc @aalexand

[2017-10-26 06:06] aalexand commented on #27
I don't think [profile.proto, aka serialization format for the profiles](https://github.com/google/pprof/blob/master/proto/profile.proto) is a subset of [profiler.proto, aka Stackdriver Profiler API definition](https://github.com/googleapis/googleapis/blob/master/google/devtools/cloudprofiler/v2/profiler.proto), am I missing something?

I thought the discussion in #16 was about avoiding having to

[2017-10-26 15:26] ofrobots commented on #27
I didn't take an exhaustive look, but the js/ts files I generated from `profiler.proto` seems to have quite a few definitions from `profile.proto` already. I'll take a deeper look today.

[2017-10-26 18:27] ofrobots commented on #27
Nevermind. This was a result of typos on my part. My `profiler.d.ts` was actually `profile.d.ts`.

[2017-10-26 18:42] aalexand commented on #27
@ofrobots Yep, the names are unfortunately impractically similar...

[2017-10-26 22:02] nolanmar511 opened #28 "Stopping createProfile() when event loop is empty otherwise."
The request in createProfile() can hang for up to an hour. So, when a user's code finishes running, it could be up to an hour before profiler exits (and node.js can stop running).

[2017-10-27 05:55] ofrobots opened #30 "Figure out npm module name"
Right now the module is called `@google-cloud/profiler`. Is that the name we would like to publish this as, or do we want be consistent with Trace and Debug agents and call this `@google-cloud/profile-agent` (profiler-agent?).

What is going to the name of the future veneer client library for the profiler api?

How is the agent named in other languages?

/cc @JustinBeckwith @jmdobry @lukesneeringe

[2017-10-28 01:25] aalexand commented on #30
In Go the package is named "profiler". The Java binary name
is cloud_profiler_java_agent.so. So I'd opt for "profiler" but wouldn't
object to "profiler-agent" too much.

We don't have plans to provide a veneer client library currently. The plan
is that Google provides most of the profiling agent and so making it easy
to use the profiler service API is not a goal.

On Thu, Oct 26, 2017 at 10:55 PM,

[2017-10-31 04:36] #27 closed

[2017-11-01 17:25] aalexand opened #38 "Distinguish (program) and (idle) in the time profiles"
@ofrobots @nolanmar511

Currently the time profiles contain a pseudo-node named "(program)" for samples which do not have any active Node.js code running. I find this name misleading. It would be clearer if it would be named "(idle)".

[2017-11-01 21:48] nolanmar511 commented on #15
Fixed by #25

[2017-11-01 21:48] #15 closed

[2017-11-01 21:48] #14 closed

[2017-11-02 14:22] nolanmar511 opened #42 "Don't use empty strings as default config values for instance and zone"
Particularly what sentinel value is for instance and zone.

[2017-11-02 14:26] #13 closed

[2017-11-02 14:26] #18 closed

[2017-11-02 21:41] aalexand opened #43 "Handle server-instructed backoff duration"

[2017-11-02 21:42] aalexand opened #44 "The backoff on profile creation errors needs to be exponential and randomized"
Use the same factor, randomization and capping as the Go and Java agents.

[2017-11-02 22:15] nolanmar511 opened #45 "installing with npm"
Right now, when I try `npm install https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs.git`, I get

[code]

Previously, when I tried to install from github, the typescript wasn't compiled to javascript.

@ofrobots -- any tips on how to make this work? I'm also open to just making an npm module, if that's easier.  We'd like for there to be a way for users to install this module pretty soon

[2017-11-03 19:31] ofrobots commented on #45
Fix in #46.

If we want users to be able to install the module, then we should publish a module for this pretty soon anyway.

[2017-11-03 19:33] ofrobots opened #47 "Publish pre-built binaries for native components"
This is probably not needed for EAP, but eventually we should start using `node-pre-gyp` and shipping precompiled binaries to avoid users having to compile at installation time.

[2017-11-03 20:03] #45 closed

[2017-11-06 19:24] nolanmar511 commented on #28
Copied from aalexand's comment on PR #16:

There was a question on how CreateProfile call (which is hanging) can be cancelled, as I think unless it is cancelled the Node.js program being profiled won't exit? Looking at the code of google-cloud-node/common, some thoughts:

* `makeAuthenticatedRequestFactory` in util.js does seem to support cancellation via abort() on the active request - see [here]

[2017-11-07 21:33] nolanmar511 commented on #43
[RESPONSE.txt](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/files/1451722/RESPONSE.txt)

I've attached a response from when the message indicated one should backoff.

[2017-11-07 22:06] ofrobots commented on #43
How are you printing the object? It seems like the `details` array has the details, but that was summarized instead of being printed.

Perhaps you need to use `console.log(util.inspect(response.body, {depth: null}));`

[2017-11-07 22:08] ofrobots commented on #43
BTW, just as a note, `setTimeout` with timeouts greater than ~25 days in JavaScript fire immediately. When implementing it would good to ward against long backoff periods, or find a module that does this for us.

[2017-11-15 18:06] nolanmar511 opened #55 "Don't send instance or zone if there is no value."
Don't send instance or zone if there is no value.

[2017-11-17 00:55] nolanmar511 opened #58 "Missing protobufjs/minimal"
I got this error when starting with the profiler on App Engine Flex:

module.js:471
throw err;
^
Error: Cannot find module 'protobufjs/minimal'
at Function.Module._resolveFilename (module.js:469:15)
at Function.Module._load (module.js:417:25)
at Module.require (module.js:497:17)
at require (internal/module.js:20:19)
at Object.<anonymous> (/home/nolanmar/src/nolanmartestappflex/nodejs_mvms_quicksta

[2017-11-17 15:21] #58 closed

[2017-11-17 18:04] nolanmar511 opened #61 "Tests using base64 profile encodings fail on Mac"
Tests using base64 profile encodings fail on Mac.

[2017-11-17 18:08] ofrobots commented on #61
Example failure:

[code]

[2017-11-17 19:23] aalexand commented on #47
Do we still need this? From our discussion I got impression that Node.js environments typically have the compiler installed since many packages with native components do not ship prebuilt binaries?

[2017-11-17 19:23] #24 closed

[2017-11-17 19:24] aalexand commented on #24
I don't feel this is actionable. Please re-open with more specific plan if it is.

[2017-11-17 19:24] aalexand commented on #23
Should we just fix it? Or just leave things as is? Not sure how important this is.

[2017-11-17 19:25] aalexand commented on #22
@nolanmar511 status?

[2017-11-17 19:25] aalexand commented on #19
@ofrobots I think you mentioned there is an ongoing discussion on this, can you link that here?

[2017-11-17 20:15] nolanmar511 commented on #22
Done with #16

[2017-11-17 20:15] #22 closed

[2017-11-19 22:55] aalexand opened #65 "Document the location of the logs"
There is logLevel option: https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/430625c66a1f7c154bd1b2231dff6ce36a36e41c/ts/src/config.ts#L28 but it does not document where the logs are stored. I tried adding "logLevel: 4" but saw nothing on the console. Document in the option where the logs go.

[2017-11-19 23:01] aalexand commented on #42
@nolanmar511 Can you rename this issue to be more actionable? "Revisit" is rather unspecific, it is not clear what needs to happen for this issue to be closed.

[2017-11-20 15:41] nolanmar511 opened #66 "Add OSX to CircleCI testing"
Right now, travis only tests on linux. Should also test on osx.

[2017-11-20 15:42] ofrobots opened #67 "Start testing on windows"
Users should be able to use the profiler locally on their windows machines to try it out. We should test on windows as well.

[2017-11-20 15:45] #55 closed

[2017-11-20 15:45] ofrobots commented on #47
We do need this, but perhaps not imminently.

Most customers would have the prerequisite necessary to build the native components in the deployment environment, but many won't. Even folks who _can_ compile will still see compile time cost incurred at deployment time, making their deployments slow.

Precompiled binaries improves the overall UX, so we should have them (eventually).

[2017-11-20 16:35] nolanmar511 commented on #42
Fixed with #57

[2017-11-20 16:35] #42 closed

[2017-11-20 17:28] ofrobots commented on #19
@fhinkel is there a tracking bug for making the profiler more accurate work you're planning to do?

[2017-11-20 17:28] ofrobots commented on #23
This would be a 'nice-to-have'.

[2017-11-20 17:33] fhinkel commented on #19
I think this one https://bugs.chromium.org/p/v8/issues/detail?id=6239 is relevant

[2017-11-20 17:49] ofrobots commented on #19
Thanks. Hmm.. that one isn't precise enough on the precise requirements. @aalexand, @nolanmar511 I will setup a meeting with the relevant folks.

[2017-11-20 18:01] nolanmar511 opened #68 "Add back source-map-support for better stack traces"
When running tests in #56, tests passed prior to merging in #60 and failed after, with the following stack trace:

[code]

#56 will undo changes from #60.

[2017-11-20 18:09] nolanmar511 commented on #23
I've looked into this, but when I switch to `Object.assign()`, this field is added to the config:   `"interceptors_": [undefined]` (also the type-guarding I have in place stops working, but that is a more minor concern).

[2017-11-20 19:06] aalexand opened #70 "Sporadic ESOCKETTIMEDOUT error during profiling"
I am running the following program on GCE:
[code]

Once in a while I am getting an error like:
[code]

There may be some unexpected timeout happening on the profile creation.

[2017-11-20 21:05] ofrobots commented on #70
@aalexand it seems that, base on the test, you may keep the event loop non-responsive for long periods of time. If the duration to run the loop (non-preemptible) is longer than the TCP Socket Timeout, you'll get this error.

I would expect that If you increase the loop to run `1e9` times, the error will become deterministic.

[2017-11-20 21:18] aalexand commented on #70
Assuming each loop iteration is ~4 CPU cycles (a compare and a jump), there are 4e8 cycles to burn here per doSomeWork call, which is 1/6 sec on a 2.4e9 Hz CPU, so I wouldn't expect it to be an issue with the main thread being blocked?

[2017-11-20 21:22] nolanmar511 commented on #70
I get this error when running
[code]
Which would also suggest this isn't an issue with the main thread being blocked.

[2017-11-20 23:50] jinwoo commented on #70
Isn't this just working as intended? When that error happens, we backoff and retry, don't we?

[2017-11-21 00:01] nolanmar511 commented on #70
The createProfile() call to the profiler API is meant to hang for a while -- the server has a timeout of 1 hour -- before returning a profile when it is time to collect profile data.

So, I'm a bit concerned that there is something not on the server-side triggering this timeout, so the server can't hang as long as it's supposed to. And since this seems to occur sporadically but frequently, I'm a b

[2017-11-21 01:23] jinwoo commented on #70
The `request` package that `@google-cloud/common` is depending on seems to have this problem: https://github.com/request/request/issues/1231

That thread suggests setting `agent: false` might fix. I think it should be done here: https://github.com/googleapis/nodejs-common/blob/master/src/util.js#L30

That seems to make the agent be used for only one request, so I think the code should be restructu

[2017-11-21 01:25] jinwoo commented on #70
Relevant Node document: https://nodejs.org/dist/latest-v8.x/docs/api/http.html#http_class_http_agent

[2017-11-21 23:45] nolanmar511 commented on #70
I see ESOCKETTIMEDOUT errors more often when running multiple nodejs applications.

[2017-11-21 23:59] nolanmar511 commented on #70
When profiles are created, it looks like the createProfile() call never hangs for more than 1 minute.

[code]

[2017-11-22 00:10] nolanmar511 commented on #70
ESOCKETTIMEDOUT errors seem to occur after 1 minute even when only one program is running and collecting profiles.

[code]

[2017-11-22 00:13] nolanmar511 commented on #70
Oh -- yes. There is a one minute timeout in common: https://github.com/googleapis/nodejs-common/blob/master/src/util.js#L31

[2017-11-22 18:50] nolanmar511 opened #77 "Use type definitions from error_details.proto"
ServerBackoffResponse (in pr #75) corresponds to a server response with RetryInfo  in error_details.proto (here https://github.com/googleapis/googleapis/blob/master/google/rpc/error_details.proto). We should use (or at least investigate using) error_details.proto.

[2017-11-23 08:48] #70 closed

[2017-11-28 22:48] nolanmar511 opened #81 "Auto-discover service on GKE"
@google-cloud/cloud-debug-nodejs uses the cluster name for the service (https://github.com/GoogleCloudPlatform/cloud-debug-nodejs/blob/a828ea62a434e3c92eda46e39921531ba30e68cf/src/agent/debuglet.ts#L347). Profiler should do the same.

[2017-11-29 01:29] aalexand opened #82 "Change the default log level for "warning" and adhere that in the source"
And further:
* The default level should be “warning”.
* Use error level for only for invalid profiler configuration by user. Should not be more than a couple in the whole source of the agent.
* Use warning level for persistent / unexpected errors which user should know about because they degrade the profiling quality. Should be used very sparingly.
* The info and debug levels should be used for lo

[2017-11-29 15:21] nolanmar511 opened #83 ""Bad Gateway" Error when Creating Profile"
During profile creation, particularly when multiple copies of the same application are running, a "Bad Gateway" error sometimes occurs during profile creation.

[2017-11-29 15:24] nolanmar511 opened #84 ""Unauthorized" Error when Creating Profile"
During profile creation, particularly when multiple copies of the same application are running, a "Unauthorized" error sometimes occurs during profile creation.

[2017-11-29 15:27] nolanmar511 commented on #83
Tracking issue elsewhere.

[2017-11-29 15:27] #83 closed

[2017-11-29 15:27] nolanmar511 commented on #84
Tracking issue elsewhere.

[2017-11-29 15:27] #84 closed

[2017-11-29 23:17] nolanmar511 opened #86 "Disable time profiler by default on Node 8"
Right now, there is a memory leak when collecting time profiles when running node 8. (https://bugs.chromium.org/p/v8/issues/detail?id=6623)
Time profiling should be disabled by default on node 8.

[2017-12-01 22:28] #65 closed

[2017-12-06 20:16] aalexand commented on #38
We should confirm that `(program)` is used when and only when the Node.js thread is idle. E.g. that there are no other usages of this term for some additional rare states of the thread.

[2017-12-06 20:37] nolanmar511 commented on #23
@ofrobots  -- what would you recommend doing given that `Object.assign()` adds `"interceptors_": [undefined]' to the config?
What does this mean?

[2017-12-09 00:07] aalexand commented on #38
@nolanmar511 Did we say during the discussion last time that you are going to look at the profiler source code to confirm that (program) only has the (idle) meaning?

[2017-12-09 00:40] nolanmar511 opened #89 "Incorrect source file names in time profiles in Node 8"
For the sample application, a time profile indicated that the function 'fill' was located within the source file below, when it should be marked as within 'buffer.js'. This is likely a problem with serialization, and since much of the serialization code is shared, heap profiles may also be impacted.

[code]

[2017-12-09 00:46] nolanmar511 commented on #38
Yes, we did say that -- I do need to look at the source code to confirm that (program) only has the (idle) meaning. Thank you for reminding me of this.

[2017-12-11 16:15] nolanmar511 commented on #89
I'm less certain that this is a problem with serialization.
I printed out the profile prior to serialization and saw this as part of the profile:

[code]

[2017-12-12 15:22] #43 closed

[2017-12-12 15:37] nolanmar511 commented on #89
Ran with Node 6, saw this in the profile before serialization:

[code]

Looks like this is a problem with v8, which is specific to node 8.

[2017-12-12 16:12] nolanmar511 commented on #89
Buffer seems to have the correct source file with node 8, though, and the wrong source file with node 6.

With node 6:
[code]

With Node 8:
[code]

[2017-12-12 16:25] nolanmar511 commented on #44
Fixed by #75

[2017-12-12 16:25] #44 closed

[2017-12-12 16:29] aalexand commented on #89
Just to clarify, are you looking at the fill() branch or Buffer() constructor branch? Your previous comments talk about fill() but the last one seems to talk about Buffer()? Just want to make sure we keep looking at the same data.

![od4ytmwf8wm](https://user-images.githubusercontent.com/1519040/33895775-21094f34-df16-11e7-9317-82b322bf4ff0.png)

[2017-12-12 16:38] nolanmar511 commented on #89
Yes, I am talking about that section of the flame chart.
In node 6, the filename for `fill` is Buffer.js, and the filename for `Buffer` is /path/to/server.js.
In node 8, the filename for `fill` is path/to/server.js, and the filename for `Buffer` is Buffer.js.

So basically, both node 6 and node 8 seem to have problems with the filenames in the profiles, but the problems are different.

[2017-12-12 16:55] aalexand commented on #89
I wonder if this happen to depend on how the inlining works.

On Tue, Dec 12, 2017 at 8:38 AM, Margaret Nolan <notifications@github.com>
wrote:

--
Alex

[2017-12-12 18:20] ofrobots commented on #89
I think it is quite likely due to inlining. /cc @bmeurer @hashseed

[2017-12-12 18:24] bmeurer commented on #89
If you're essentially using `--prof` then it's very likely that this is due to inlining, yes.

[2017-12-12 18:44] ofrobots commented on #89
This uses the CPU Profiler ([cpu-profiler.h](https://cs.chromium.org/chromium/src/v8/src/profiler/cpu-profiler.h?dr=C&q=cpu-profiler&sq=package:chromium)) which is based on timer based statistical sampling. I think that's what prof does as well.

I think https://crbug.com/v8/6239 is supposed to be the tracking bug for this issue in V8.

[2017-12-13 00:16] nolanmar511 opened #90 "Sporadic heap profiler segfault with Node.js 6"
Using node version 6.12.0, there are sporadic segmentation faults.

Running with gdb, the backtrace looked like this:

[code]

[2017-12-13 04:05] bmeurer commented on #89
That tracking bug was about something else. I created [v8:7203](https://crbug.com/v8/7203) for this specifically now.

[2017-12-13 23:10] #86 closed

[2017-12-13 23:16] aalexand commented on #89
As a workaround on the profiler side I guess we could pretend the source file is empty when the line number is zero. But I'd rather prefer the profiler do that for us (or put the right source file name).

[2017-12-13 23:51] nolanmar511 commented on #89
@hashseed -- we'd mentioned this problem earlier.
Is this behavior expected? Can it be fixed?

[2017-12-14 00:50] nolanmar511 commented on #61
When I decode the base64 encode profiles from linux and mac, they are different. When I inspect these using gqui, the output is identical.

I think there's just a difference in exactly how the files are compressed on mac and on linux, based on the following commands:

[code]

I'm going to close this, because I have adjusted the tests so they no longer depend on the base64 encoded compressed string

[2017-12-14 00:50] #61 closed

[2017-12-14 06:05] bmeurer commented on #89
@nolanmar511 Yes. We'll be working on supporting that as well.

[2017-12-14 19:15] nolanmar511 commented on #38
It does look like the v8 differentiates between "(program)" and "(idle)", given that both strings are defined [here](https://github.com/v8/v8/blob/master/src/profiler/profile-generator.cc#L52) and idle and program appear to be used differently [here](https://github.com/v8/v8/blob/master/src/profiler/profile-generator.cc#L749).

I've not yet found any precise documentation on what "(program)" inclu

[2017-12-15 23:40] aalexand commented on #77
Whose next step here: @nolanmar511 or @ofrobots ? The issue is assigned to @ofrobots, is that right?

[2017-12-15 23:45] nolanmar511 commented on #77
It should be assigned to me.
I need to check if it is reasonable to switch to using the error_details definition.

[2017-12-19 18:18] aalexand commented on #89
@nolanmar511 @bmeurer @hashseed Who should own this issue?

[2017-12-19 18:19] aalexand commented on #90
@ofrobots Assigning to you to ping the bug with the exact version of released Node.js when it's available. Then reassign to @nolanmar to verify and close.

[2017-12-19 18:22] aalexand opened #92 "Time profiler memory leak on Node.js 8"
Filing to mirror https://github.com/nodejs/node/issues/14894. See also https://bugs.chromium.org/p/v8/issues/detail?id=6623.

Per that issue, the fix is already available in Node.js 9.3.0. This issue will be closed when there is a Node.js 8 version with the fix available.

[2017-12-19 18:44] hashseed commented on #89
@fhinkel do you want to take a look?

[2017-12-19 18:45] ofrobots commented on #23
This would have been a nice to have. If fixing this requires effort, it is probably not worth it. Closing.

[2017-12-19 18:45] #23 closed

[2017-12-19 21:16] nolanmar511 opened #94 ""Unauthorized" error when credentials expire"
The call to the request to create a profile can hang for up to an hour. If the credentials expire while this request is hanging, then an 'Unauthorized' error is returned.

To reduce the frequency of this error, we want to refresh the token before it has expired when making requests.

[2017-12-19 22:08] #82 closed

[2017-12-19 22:17] ofrobots commented on #90
This should be in today's RC as per [this comment.](https://github.com/nodejs/node/pull/17639#issuecomment-352858583)

[2017-12-19 22:18] ofrobots commented on #92
The 8.x backport has landed on https://github.com/nodejs/node/pull/17659. This should be in the release candidate build today.

[2017-12-20 12:57] fhinkel commented on #89
Yes, I'll check

[2017-12-21 13:42] fhinkel commented on #89
Is there an easy way to run this locally? I don't have auth credentials for GCP.

Using the `--inspect` flag, DevTools shows `buffer.js` as source for both `fill` and `Buffer` (for Node 6 and Node 8). There's a second `fill`, not attributed to any file, I'm assuming that's because it was inlined. Is that maybe misattributed in `@google-cloud/profiler`?

![screenshot from 2017-12-21 14 26 24](https

[2017-12-21 14:38] aalexand commented on #89
@nolanmar Can you give instructions on running locally?

[2017-12-21 17:07] nolanmar511 commented on #89
@fhinkel -- PR #95 will make it so that profiles are written out when starting the profile with `.startLocal()`. So, you can replace `.start()` with `.startLocal()`, if you get the code from that PR.

To see profiles before they are serialized, you can add `console.log(result)` after [this](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/master/ts/src/profilers/time-profiler.ts#L

[2017-12-22 15:20] nigon1 commented on #94
on issue

[2017-12-29 15:34] fhinkel commented on #89
[Here's my V8 patch](https://chromium-review.googlesource.com/c/v8/v8/+/845624) that fixes the wrong file attribution for the cloud profiler and DevTools. We can probably backport it to Node master (and later to 8) after a few days of Canary coverage.

[2018-01-02 18:16] nolanmar511 opened #97 "npm install fails on travis testing with node 6"
`npm install` is failling with the following error during travis testing when run with node 6:

[code]

[2018-01-03 00:41] nolanmar511 commented on #90
Node 6.12.3 was released today. I have been running multiple copies a simple test application for the past 3 or 4 hours and have not seen any segmentation faults.
I'll leave the applications running overnight and re-open if there are any segmentation faults.

[2018-01-03 00:41] #90 closed

[2018-01-03 15:33] nolanmar511 commented on #92
I've confirmed that the memory leak has been fixed in node 8.9.4.
This has been fixed.

[2018-01-03 15:33] #92 closed

[2018-01-03 19:28] #97 closed

[2018-01-05 20:12] nolanmar511 opened #100 "Incorrect profile duration for time profiles"
The recorded duration for a time profile is around 10000 seconds, so 1000 times greater than it should be.

[2018-01-08 13:32] fhinkel commented on #19
The V8 CpuProfiler provides more exact line numbers. But the cloud-profiler doesn't use them.

Every node  has `LineTicks`. There are `GetHitLineCount` many `LineTick` entries. Every tick has a `line` and a `hit_count`. These line numbers are as precise as we can be for code objects.

[code]

The `GetLineNumber` of a  `CpuProfileNode` matches the beginning of the function. The inlining information

[2018-01-08 23:14] nolanmar511 opened #106 "Use CpuProfiler::New on Node 10 (as v8's GetCpuProfiler() is deprecated starting Node 10)"
A new API was introduced in v8/v8@120b753.
The current API is deprecated in V8 6.4: v8/v8@8c5e2d7

We use this method [here](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/master/bindings/time-profiler.cc#L64), [here](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/master/bindings/time-profiler.cc#L70), [here](https://github.com/GoogleCloudPlatform/cloud-profil

[2018-01-09 17:30] nolanmar511 commented on #19
Sorry -- missed some of the details. I'll look more at the example you gave.

[2018-01-09 19:05] nolanmar511 commented on #19
@fhinkel
I ran with your changes and got the following graph in pprof:
![image](https://user-images.githubusercontent.com/14046562/34737425-fcfd33d2-f52a-11e7-87bd-46add55915d2.png)

The call to `inner` is still attributed to the first line of `outer`. I'd like, ultimately, to get to the point where
it would be possible to determine how much time is spent in the `inner` when it is called from line

[2018-01-09 20:01] #100 closed

[2018-01-09 21:01] aalexand commented on #89
@nolanmar511 assigned to you for the verification.

[2018-01-09 21:27] nolanmar511 commented on #68
Still fails with the same error when added.

[2018-01-10 09:30] fhinkel commented on #19
At the moment, every node corresponds to a function. A node has children (other functions), and a collection of PositionTickInfos. I'll check if we can attribute the children to code objects instead of the whole function. That will make the graph much more complicated though: Instead of one call from `outer` to `inner`, we'll have multiple calls to inner from different code objects inside `outer`.

[2018-01-10 15:19] nolanmar511 commented on #19
Yes -- that would be great!

[2018-01-10 19:10] #68 closed

[2018-01-12 19:49] aalexand opened #112 "Setting logLevel to 4 (or 5) doesn't seem to enable the debug logging"
I tried something like

[code]

but when I ran the program I don't see any debug message on the console. The data is collected though so it seems the profiler is running so it only seems a logging issue.

[2018-01-12 20:01] aalexand commented on #112
Blah, `logLevel` is in the wrong place, it should be

[code]

[2018-01-12 20:01] #112 closed

[2018-01-15 13:12] fhinkel commented on #89
Merged to 6.4, should get picked up in this [PR](https://github.com/nodejs/node/pull/17489) and land in Node master on January 23rd.

[2018-01-16 17:34] #94 closed

[2018-01-16 21:27] evanlucas commented on #47
Having to compile native addons at build time slows down our builds quite a bit, so this is something that we would definitely benefit from.

[2018-01-16 22:43] aalexand commented on #47
@evanlucas Is the profiler agent your only dependency that has to build the native part and the rest is coming precompiled, or the agent is just making things worse among others? Just curious to which extent shipping prebuilt native components is a standard among Node deps.

[2018-01-16 22:49] evanlucas commented on #47
we currently ship 20 services that use native addons and they all are precompiled. Occasionally, one of our dependencies will not offer a prebuild (like when we bump our node version in our base docker image) and it more than triples our build times. We aren't currently shipping with the profile agent at this point, but I am about to start experimenting with it.

[2018-01-17 15:33] nolanmar511 commented on #94
Added the ability to refresh before the token expires to google-auth-library-nodejs.
Still need to modify @google-cloud/common (repository [here](https://github.com/googleapis/nodejs-common)) and google-auto-auth (repository [here](https://github.com/stephenplusplus/google-auto-auth)).

The change to google-auth-library has not yet been published to npm.

[2018-01-18 18:32] nolanmar511 opened #115 "Memory leak in Heap Profiler"
There is a memory leak when using the profiler and collecting just time profiles, just heap profiles, or both time and heap profiles.
Increasing the rate at which profiles are collected seems to increase the rate at which memory leaks. When using `process.memoryUsage()` to look at memory used, RSS increases notable and heapTotal seems to roughly constant.

[2018-01-18 18:39] ofrobots commented on #115
Is the leak in the JavaScript heap or in external heap?

[2018-01-18 18:43] nolanmar511 commented on #115
External heap.

[2018-01-19 17:04] ofrobots opened #116 "Avoid require to load config file"
https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/a7f742d097dfab0cfdf11b0e5844dabb1cc09d65/ts/src/index.ts#L76

If the env. var. points to a .js or .node file, it will be executed. It would be better to read the file as text and then parse as json.

[2018-01-22 20:42] ofrobots commented on #89
Opened back port PR for current version of V8 in Node: https://github.com/nodejs/node/pull/18298. Even if 6.4 gets merged before my PR, this is needed in older versions of node.

[2018-01-23 18:39] nolanmar511 commented on #115
This has been fixed by #117.

[2018-01-23 18:39] #115 closed

[2018-01-26 23:44] aalexand opened #120 "Remove cloud-profiler-nodejs/bindings/statistics.cc as it seems to be unused"

[2018-01-27 00:20] aalexand opened #121 "Heap profiles should include external and malloced memory stats"
As pseudo nodes, without stack, proposed naming: (External) and (Runtime).

[2018-01-30 21:01] aalexand commented on #19
@fhinkel Any update on the possibility to extend the profile information to include the line number for caller locations? By the way, I think we only discussed time profiles so far? I wonder if the heap profiles include / can include the line accurate location information as well?

[2018-02-01 08:52] fhinkel commented on #19
i'm working on the patch for more accurate line numbers for the CpuProfiler. I haven't looked at the heap profiler yet.

[2018-02-04 00:09] aalexand commented on #19
Regarding the heap profiler, it actually looks like it already produces the line numbers for each stack entry in the allocation tree.

[2018-02-06 16:59] nolanmar511 commented on #19
I looked more at the heap profiler. It produces line numbers, but the line numbers refer to the first line of the function. So the heap profiler currently has the same line information that the time profiler has.

[2018-02-06 20:45] aalexand opened #122 "Make the memory usage overhead of both CPU and sampling heap profilers minimal"
And access the C++ side of the state via JS-exposed methods instead.

[2018-02-06 20:49] aalexand opened #123 "Switch to use the heap profiler from sampling-heap module"
https://github.com/v8/sampling-heap-profiler/tree/master/src

[2018-02-06 20:52] aalexand commented on #122
The most effective way to handle this would be to actually generate the profile proto on the C++ side.

[2018-02-06 21:01] aalexand commented on #122
Discussed offline that we'll do generation of proto binary wire in the C++ code to avoid the protobuf dependency. Similar to what google/pprof does in Go.

[2018-02-08 00:36] nolanmar511 opened #128 "Update @google-cloud/common to 0.16.0"
After updating google-cloud/common to 0.16.0, I saw this error when collecting profiles on GCE:
[code]

I filed a issue with googleapis/nodejs-common [here](https://github.com/googleapis/nodejs-common/issues/31).

I'll need to update googleapis/nodejs-common to 0.16.0 more carefully.

[2018-02-13 20:42] nolanmar511 commented on #120
Waiting to work on #121 first, to see if  #121 might require this.

[2018-02-13 20:49] aalexand commented on #89
@nolanmar511 Please verify that this is fixed and close issue if so.

[2018-02-13 20:54] aalexand commented on #38
Closing this for now. We'll just use the naming the runtime uses, without any modifications.

[2018-02-13 20:56] aalexand commented on #38
Re-opening to take a look and at least document somewhere the exact meaning of (idle) and (program).

[2018-02-13 22:26] nolanmar511 commented on #89
This seems fixed.
I ran the script in description of this issue with node 8, inspected the flame graph of a profile and saw this:
![without_fix](https://user-images.githubusercontent.com/14046562/36177220-dc98f814-10c9-11e8-974e-d5c98568e9b5.png)
The fill() function is attributed to the script from which it is called.

I then installed the nightly release from today (2-13-18), and ran with that re

[2018-02-13 22:26] #89 closed

[2018-02-14 21:26] nolanmar511 opened #133 "Profiler no longer works when projectId is not specified."
I've been working on the e2e testing, and I had been working on a stale branch in my repo.
I updated the branch I've been working on today, and started seeing messages like this logged: `WARN:@google-cloud/profiler: Failed to create profile, waiting 1.4s to try again: Error: Bad Request`.

I did more testing and it looks like this happens only when the projectId is not specified (I'm testing one G

[2018-02-14 21:35] nolanmar511 commented on #133
I'm doing a few quick checks, and I think the same error happens with 0.1.9, 0.1.10. and 0.1.11.  I'm fairly confident that I've checked this previously, so I'm not entirely certain what it up.

[2018-02-14 21:51] nolanmar511 commented on #133
Looks like projectId is not populated in the deployment labels when the projectId is not set.
One potential solution is to fetch the projectId ourselves from metadata, rather than relying on @google-cloud/common to fetch the projectId.

[2018-02-14 22:15] nolanmar511 commented on #133
This was a regression on the server side and will be addressed there shortly.

[2018-02-14 22:15] #133 closed

[2018-02-20 17:21] nolanmar511 opened #136 "Update gcp-metadata to latest version (0.6.1)"
Integration tests failed when attempting to update this ([here](https://circleci.com/gh/GoogleCloudPlatform/cloud-profiler-nodejs/117?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)).

This may be because gcp-metadata has had changes to its API from 0.5.0, so code needs to be updated to use 0.6.1. Further investigation of failing tests is needed.

[2018-03-06 20:45] aalexand commented on #94
@nolanmar511 Please update with the status.

[2018-03-06 20:51] #66 closed

[2018-03-06 21:33] aalexand opened #145 "Do not ask CPU profiler for individual samples as timestamps are discarded anyway?"
The CPU profiler start is currently called from here: https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/8b418473fc57e0f77737f8461bace4e95e98296d/bindings/time-profiler.cc#L64.

And the ts code passes true to the record_samples argument from here: https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/blob/8b418473fc57e0f77737f8461bace4e95e98296d/ts/src/profilers/time-profiler

[2018-03-06 22:28] nolanmar511 commented on #67
I think we need need to set up webhooks for the appveyor build to trigger.

[2018-03-07 22:40] nolanmar511 commented on #67
Webhook is set up. Once PR #146 is in, this will be fixed.

[2018-03-08 06:04] aalexand opened #152 "Respect GOOGLE_CLOUD_PROJECT, not GCLOUD_PROJECT"
GOOGLE_CLOUD_PROJECT is the environment variable we should use, I am pretty sure GCLOUD_PROJECT is deprecated / old. E.g. see https://cloud.google.com/appengine/docs/flexible/nodejs/runtime#environment_variables

[2018-03-08 15:36] ofrobots commented on #152
Both the environment variables are documented in documentations of different products in various states. It is fine to support `GOOGLE_CLOUD_PROJECT`, but you should continue supporting `GCLOUD_PROJECT` as well.

[2018-03-08 17:41] nolanmar511 commented on #152
It looks like our code for this is redundant right now.
GCLOUD_PROJECT is  set at the projectId by `common.util.normalizeArguments()`, and https://github.com/googleapis/nodejs-common/issues/20 suggests also using GOOGLE_CLOUD_PROJECT. So, if that issue is resolved (and it may already be resolved; since one comment indicates google-auth-library uses GOOGLE_CLOUD_PROJECT), we wouldn't need to look a

[2018-03-09 00:48] aalexand commented on #152
I verified (using Cloud Shell) that GOOGLE_CLOUD_PROJECT is already supported by the agent, apparently via the common library like mentioned in https://github.com/googleapis/nodejs-common/issues/20#issuecomment-371565829.

[2018-03-09 00:49] #152 closed

[2018-03-09 20:29] nolanmar511 opened #157 "Buffers don't seem to appear in heap profiles"
I ran this code:

[code]

And the function buffer_bench didn't appear in the heap profile:
![image](https://user-images.githubusercontent.com/14046562/37228357-292ebf64-2395-11e8-946e-4e13f64c93ac.png)

The [docs]( https://nodejs.org/api/buffer.html) for Buffer say "Instances of the Buffer class are similar to arrays of integers but correspond to fixed-sized, raw memory allocations outside the V8

[2018-03-09 21:37] aalexand commented on #157
I don't think these are changing the observations much but some comments on the sample code:
* I'd allocate a power of

[2018-03-09 21:38] aalexand commented on #157
@ofrobots PTAL whether this is expected behavior that allocations via Buffer do not seem to be reported by heap profiler.

[2018-03-09 22:03] ofrobots commented on #157
Yeah, I guess this makes sense. Buffers are not allocated on the JS heap.

[2018-03-09 22:11] ofrobots commented on #157
There may be two ways to fix this:

* Somehow interject into the [ArrayBufferAllocator](https://github.com/nodejs/node/blob/master/src/node.cc#L779) in Node or in V8.
* Introduce our own malloc/free into the process that uses tcmalloc; thereby intercepting *all* native memory.

[2018-03-09 22:16] ofrobots commented on #157
There a second problem in the benchmark above. The allocated buffer goes dead very soon after allocation, so GC will collect it fast. At the most, we will have one sample in the heap profile corresponding to the JS wrapper around the native buffer. It is quite likely that we have zero samples.

[2018-03-09 22:23] aalexand commented on #157
bench is a global variable so the buffer should stay live? But I agree the sample code is a bit strange:
* 1e6 is not a power of two, is that intentional?
* Which sampling threshold of heap profiler was used in this run?
* Why allocate in a loop? Single large allocation referenced from a global variable should be enough. Shouldn't need the loop at all imo.

[2018-03-09 22:23] aalexand commented on #157
Also this issue should have been filed against sampling heap profiler repo imo.

[2018-03-09 22:30] ofrobots commented on #157
At any given time there is at most live buffer object anchored in the `bench` object. The question is whether that buffer happened to be lucky enough to get sampled. The javascript object wrapping the native buffer is only ~3 words big, so the probability it would get sampled is ~.000045776.

[2018-03-09 23:01] nolanmar511 commented on #157
The function which allocates the does not appear in this code:
[code]
Here's the profile:
![image](https://user-images.githubusercontent.com/14046562/37233828-adb17f1a-23a9-11e8-80be-6d9a67a5b8e0.png)

I do

[2018-03-09 23:08] ofrobots commented on #157
At the time the profile is taken, there is one currently live `buf` object. The probability that particular buffer object got sampled is ~.000045776.

Try this change instead:
[code]

[2018-03-09 23:09] ofrobots commented on #157
Note that the `2^20` is irrelevant as that corresponds to an allocation on the native, rather than the JS heap. Why my suggested change above, you can probably use a smaller size – else the leak will grow quite fast.

[2018-03-09 23:24] aalexand commented on #157
But 2^20 not being sampled / recorded is exactly what this issue is about. I agree that doing a bunch of small buffer allocations will eventually produce some samples because there is some JS heap overhead of each of those allocations, but it's less interesting than fixing the profiler to actually report the buffer allocations.

[2018-03-09 23:28] ofrobots commented on #157
Two problems are being reported here:
* "[The Profile] doesn't have bufferAlloc() or bufferFill() appear."
* Backing storage for Buffers cannot be sampled.

I agree the former should be pulled off into a separate issue.

The latter is quite hard, and it is might actually be broader issue that this project presently does not aim to be able to profile native allocations.

[2018-03-09 23:31] aalexand commented on #157
Does the "externally allocated memory" metric goes up when a buffer is allocated? If yes and we expose that as discussed in https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/issues/121 it might be better than nothing.

[2018-03-09 23:45] ofrobots commented on #157
Yes, the `external` metric reported by `process.memoryUsage` will track the memory used by native buffers.

[2018-03-12 23:26] nolanmar511 opened #160 "Heap Profiles are missing Module stacks"
Profiles taken with [sampling-heap-profiler](https://github.com/v8/sampling-heap-profiler/issues/16) have stacks which contain functions like `Module.runMain` and `Module._load`, like the following profile from ofrobots collected in https://github.com/v8/sampling-heap-profiler/issues/16:
![image](https://user-images.githubusercontent.com/14046562/37314291-878e42b4-2610-11e8-8211-5a3559a3582c.png)

[2018-03-20 19:56] aalexand commented on #157
@nolanmar511 Please confirm that the buffer allocations are captured in the external metric and once that's hopefully confirmed we should address it first by doing #121. Then once we see that the external memory usage is a significant bucket for any customer or app we use, we can start breaking this down (but this will be a one off thing for every type of native memory allocation perhaps).

[2018-03-20 20:05] nolanmar511 commented on #128
Fixed with #156

[2018-03-20 20:05] #128 closed

[2018-03-20 20:44] nolanmar511 commented on #136
Filed https://github.com/stephenplusplus/gcp-metadata/issues/46/
There's an error during typescript compilation. Trying to figure out why.

[2018-03-21 01:29] #136 closed

[2018-03-27 19:49] aalexand commented on #47
@nolanmar511 Looking at modules called prebuild and prebuild-ci should be useful for the task.

[2018-03-27 23:42] nolanmar511 commented on #94
We are using google-auth-library 1.3.1 for development (based on our package-lock.json), so the token will be refreshed 5 minutes before it expires (rather than once it has expired). This should reduce the probability of these errors
However, it is my understanding that if a token expires during a request, google-auth-library does not refresh the token and retry, so we may still see unauthorized e

[2018-03-28 01:50] JustinBeckwith commented on #94
Of course we do!  If the request fails with a 401 or 403, under many conditions we will try to refresh the token.  We are changing some of this behavior in 2.0 to only retry if a refresh_token is present.  Check this out:
https://github.com/google/google-auth-library-nodejs/blob/master/src/auth/oauth2client.ts#L696

If there's another place you want retry logic, please do let me know!

[2018-03-28 16:09] nolanmar511 commented on #94
@JustinBeckwith -- Thanks! Is this logic new with 1.0? Prior to upgrading to 1.0, we'd seen the "Unauthorized" Error in our code.

[2018-03-28 18:30] JustinBeckwith commented on #94
Nope, this has been around for a while.  I think the code you added to add a higher expiry window likely cleaned a lot of these up.

[2018-03-29 21:09] DominicKramer opened #169 "Compilation error with TypeScript"
I have an app that is written in TypeScript and uses `gts` for compilation.

When importing the profiler as:
[code]
I get a compilation error when building my app:
[code]
I have code in `@google-cloud/error-reporting` in [test-install.ts](https://github.com/googleapis/nodejs-error-reporting/blob/master/system-test/test-install.ts) (that verifies that code that uses the library can compile with `gt

[2018-03-29 23:07] nolanmar511 opened #171 "Integration test for typescript application should be added"
#169 shows that our agent can have typescript-specific problems. So, we should update the e2e tests to test the workflow with a typescript application.

[2018-03-29 23:43] #169 closed

[2018-03-30 21:59] nolanmar511 commented on #47
prebuild-ci seems to require using a personal access token (which would be associated with a github account, rather than a project). Is there a good way around that?

[2018-04-10 00:56] aalexand commented on #157
@nolanmar511 Did you look at this?

[2018-04-10 21:50] aalexand commented on #116
@nolanmar511 Did #161 fix this?

[2018-04-24 19:53] ofrobots opened #179 "Node 10: enable e2e tests + memory usage long-running manual test"

[2018-04-24 20:02] #121 closed

[2018-04-24 20:35] nolanmar511 commented on #157
The external memory usage does appear to contain buffers.

I ran the following, varying the size of the buffer. External memory was always slightly larger (a few KiB for 5MiB buffer) than the buffer.

[code]

[2018-04-24 20:53] aalexand commented on #157
@ofrobots @nolanmar511 Questions:
* Should we name the pseudo node in profiles as "(external)" or as "(buffers)" or something else?
* Should this pseudo node be created in the sampling heap profiler code in Node.js or in cloud-profiler-nodejs code?

[2018-04-25 18:32] nolanmar511 commented on #47
https://github.com/grpc/grpc-node builds pre-compiled binaries for node. Prebuilt binaries are built with kokoro and stored in a GCS bucket
I think following their pattern would work.
That project uses scripts in https://github.com/grpc/grpc-node/tree/master/packages/grpc-native-core/tools/run_tests/artifacts to build. Scripts called by kokoro are in https://github.com/grpc/grpc-node/tree/master/t

[2018-04-25 23:28] nolanmar511 commented on #47
While grpc uses kokoro for prebuilding it's binaries, I'm not certain that kokoro is right for our use case. At least, it might not be the right choice if we want to stick with our current release process.
Kokoro Release builds can be triggered with the stubby API, but there doesn't seem to be a good way to trigger it from github.

Kokoro only triggers continous builds every hour -- this seems lik

[2018-04-25 23:30] ofrobots commented on #47
/cc @nicolasnoble

[2018-04-26 07:09] aalexand commented on #157
@ofrobots @nolanmar511 Thoughts?

[2018-04-26 14:17] nolanmar511 commented on #157
I have a preference for "(external)", since I believe the external memory can contain things other than buffers.

[2018-04-30 20:56] ofrobots commented on #157
+1 on "(external)"

[2018-05-01 19:46] ofrobots commented on #116
This should be fixed. @nolanmar511 please double check and close the issue if so.

[2018-05-01 19:47] ofrobots commented on #106
Related #179.

[2018-05-01 19:48] ofrobots commented on #94
@nolanmar511 can you check if this is still an issue?

[2018-05-01 23:36] nolanmar511 commented on #47
grpc seems to build for all combinations of these:

- Node Versions 4, 5, 6, 7, 8, and 9 (and Electron versions 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, and 1.8)
- Mac, Windows, Linux
  - For linux alpine, build all node versions for x64 (nothing else).
- Ia32, x64, arm (arm for linux only)

[2018-05-02 00:31] aalexand commented on #47
Are there separate pre-built versions per different Linux distributions?

@ofrobots One thing I am curious about is the overall importance of having the pre-built binaries. It seems that setting all this up is a non-trivial effort, both one-time and potentially ongoing maintenance. I am curious if we could defer this work. Building the extension during npm install requires having a C++ compiler bu

[2018-05-02 00:36] ofrobots commented on #47
For this module we probably need:

* Node versions 6, 8, 10
* Linux (glibc), Windows, Mac
* x64 only.

It might be a fair amount of work to set this up, we consistently have heard feedback from users about the needed for per-compiled binaries, at least as far as gRPC was concerned. See up-thread aboud the request from @evanlucas for pre-compiled binaries too.

Compiling from source also impacts de

[2018-05-02 06:40] nicolasnoble commented on #47
Sorry, just saw this notification now. Also pinging @murgatroid99 on this thread.

We're currently triggering the builds automatically per pull request to test if the PR aren't breaking the builds. We're also using the Kokoro's API to trigger the builds from any branch. We're spending a bit less than an hour to do all of these builds, but we currently only sharded in the set {MacOS, Linux, Windows

[2018-05-02 16:01] aalexand commented on #179
@nolanmar511 @ofrobots Discussed with Maggie that we should add the e2e testing for ASAP as if any issues show up we get less time every day to merge any fixes. Let's add it today / tomorrow.

@nolanmar511 We should also get a manual long-running test for both CPU and heap profiler to make sure the RSS / heap stats don't have regressions.

[2018-05-02 16:05] aalexand opened #188 "Have an e2e test against a node version that uses v8 very close to head"
As CPU or heap profiler in v8 get any changes, we should continuously make sure those do not carry surprises for us (e.g. there is https://chromium-review.googlesource.com/c/v8/v8/+/1039825, which shouldn't break us but only green test gives confidence). To do that we need an automated e2e test run against a version of node that uses v8 very close to head. @ofrobots any recommendations on how to o

[2018-05-02 16:45] ofrobots commented on #188
This is a good idea. Having feedback from potentially breaking changes in V8 as early as possible would be great. I am not sure whether the tests we have in the Node project are as extensive for the profiling/diagnostics use-cases, and this project might well be one of the most advanced users of these V8 APIs.

In the node project we run `v8-canary` builds which are supposed to be Node.js master i

[2018-05-02 16:49] aalexand commented on #188
O(days) is good but O(hours) is better so I'd go for that.

[2018-05-03 00:34] #160 closed

[2018-05-03 14:29] nolanmar511 commented on #116
Yes, this is fixed by #161

[2018-05-03 14:29] #116 closed

[2018-05-08 17:13] nolanmar511 commented on #179
For long running test with acmeAir and using startLocal (default values for profile collection rate), RSS when using node 10 settled at ~260MiB. With node8, RSS settled at ~240MiB.

So memory consumption is higher with node10, but there don't seem to be any other problems.

[2018-05-08 18:28] aalexand commented on #38
/cc @ofrobots

[2018-05-08 18:30] ofrobots commented on #38
notes from discussion: It might be possible to distinguish real idle times vs. Node.js doing stuff – it might worth looking at how Chrome uses SetIdle API from V8 and whether something similar can be done to distinguish `idle` from `program`.

[2018-05-09 23:57] aalexand opened #194 "Include deployment label language=nodejs in the profiles"
The java and go agents do this, we would like to use it for analytics.

[2018-05-15 15:43] nolanmar511 commented on #179
Also seeming some flakes with the Node10 e2e test (sometimes profile collection rate is slow, and the test seems not to finish)

[2018-05-15 16:14] nolanmar511 commented on #179
Looking at past runs to get a better idea.

Today's 7am test (node10) had a ~7 minute gap between starting profile creating and getting created profile:
[code]

Today's 5am  test (node10) had a ~7 minute gap between getting a profile after creation and collecting the profile, and another equally long gap between starting profile creation and getting the created profile:
[code]

The 3am run had a ~

[2018-05-15 16:39] aalexand commented on #179
Also, could you file a separate issue for the problem in hand? This issue is about enabling the e2e test and confirming no regressions in memory overhead, I think that's done. Let's avoid kitchen-sink kind of issues :)

[2018-05-15 17:11] nolanmar511 commented on #179
Marking this issue as closed. Other node10 issues will be filed separately.

[2018-05-15 17:11] #179 closed

[2018-05-15 17:14] nolanmar511 opened #199 "Heap profiler occasionally hangs for long periods of time on Node10 due to a GC bug in V8"
On Node10 e2e tests, we've seen some failures which seem to be due to long pauses when collecting profiles in Node10.

This happens consistently. Below I show some of the pauses in logs seen on the continuous tests.

Today's 7am test (node10) had a ~7 minute gap between starting profile creating and getting created profile:
[code]

Today's 5am  test (node10) had a ~7 minute gap between getting a p

[2018-05-15 17:37] #194 closed

[2018-05-15 17:49] nolanmar511 commented on #179
Issue with long pauses investigated here: https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/issues/199

[2018-05-15 18:06] aalexand commented on #199
Is this specific to Node 10?

[2018-05-15 18:12] nolanmar511 commented on #199
Yes, this is specific to Node10.
No flakes like this have been seen in Node 6, 8, or 9, and looking there have not been any long periods between log statements (>1min) observed in Node 6, 8, or 9.

[2018-05-15 18:14] ofrobots commented on #199
It would be good if you can add the following command line flags and
retrieve the node_trace.*.log files: `--trace-events-enabled
--trace-event-categories v8`. It would be curious to see if anything
interesting shows up on the trace timeline.

Note that these flags would work on Node 8+ only.

On Tue, May 15, 2018 at 11:12 AM Margaret Nolan <notifications@github.com>
wrote:

--
Ali

[2018-05-15 20:36] nolanmar511 commented on #199
Can reproduce on a GCE instance.

[2018-05-15 21:50] nolanmar511 opened #200 "Make sure node version and agent version are available for backend analytics"
We recently added language (#198) to deployment labels.
We should also consider adding the agent version and node version.

[2018-05-15 21:51] nolanmar511 commented on #200
Would we want there as separate labels, or part of the language label (particularly for node version)?

[2018-05-15 22:11] nolanmar511 commented on #199
Here's logging from a run. Trace is attached.

[code]

[node_trace.1.log](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/files/2006890/node_trace.1.log)

Log pause in output started at ~1.4min into the program, and ended at ~20.5 min in. So pause may correspond to `V8.GCFinalizeMCReduceMemory`

[2018-05-15 22:32] ofrobots commented on #200
The user-agent header should already have some version information because we are using npm.im/@google-cloud/common – but not the version of this library – which would make sense to add as a label. I am not sure if the version of Node is also include in the user-agent header. If not, perhaps that should be a label too.

[2018-05-16 08:44] ulan commented on #199
That shoudn't happen. My guess would be that one of the worker threads is descheduled and we are waiting for it or memory is swapped out.

Could you please re-run with --trace-event-categories v8,disabled-by-default-v8.gc and with --trace-gc --trace-gc-nvp flags?

[2018-05-16 16:04] AlexandreAWE opened #202 "GKE Bad Request"
Hi,

I try to add Cloud Profiler on my GCP project on Google Cloud Kubernetes Engine.
On Kubernetes pod logs, there is a bad request warning :
[code]

Here is my startup script :
[code]
Because I'm on Google Cloud platform, I don't need to use a service account right ?

I don't know if matter but I'm using node:9.10.1-alpine on Docker

Moreover, on API logs, requests about Stackdriver Profiler API

[2018-05-16 16:18] aalexand commented on #202
Your service name has wrong pattern, see https://cloud.google.com/profiler/docs/profiling-nodejs#svc-name-and-version.

[2018-05-16 16:19] aalexand commented on #202
Basically, do something like 'my-service-name'.

[2018-05-16 16:19] #202 closed

[2018-05-16 20:55] ofrobots commented on #202
Is it possible to provide a better error message here? Secondly, I think we should prioritize https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/issues/81 higher so such configuration isn't even necessary from users.

[2018-05-17 07:46] AlexandreAWE commented on #202
as simple as that.. Thanks @aalexand

[2018-05-17 14:11] #106 closed

[2018-05-18 14:25] nolanmar511 opened #204 "Add source map support"
Right now, the profiler reports javascript functions and line numbers. This makes it harder to interpret profiles for users who have written code in typescript.

We should add source map support so that profiles can report typescript line numbers and function names.

[2018-05-18 14:30] nolanmar511 opened #205 "Hiding heap profiler internals in profiles"
Should we hide profiler internals from the profiles?
There's some evidence that showing these is confusing, and (unlike other code) profiling-related code runs when profiles are collected (so cannot be randomly sampled by the profiler).

[2018-05-18 14:33] nolanmar511 opened #206 "Different labels for (anonymous) functions?"
Javascript has a lot of anonymous functions, which can be hard for users to interpret.
Should we use something else as the function name for these (for example file:line)?

[2018-05-18 15:26] nolanmar511 commented on #199
@ulan I re-ran with both those flags.
I've attached the output and the trace from this run.

[node_trace.2.log](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/files/2017487/node_trace.2.log)
[out.txt](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/files/2017488/out.txt)

[2018-05-18 15:40] ulan commented on #199
Thanks. The GC is stuck in V8.GC_HEAP_EXTERNAL_WEAK_GLOBAL_HANDLES.

This is the phase where the finalizers and phantom callbacks of weak persistent handles are called.
https://cs.chromium.org/chromium/src/v8/src/heap/heap.cc?rcl=1caa6178e4dfa30e075789831c0bacdc648844b7&l=1777

These callbacks are installed by NodeJS using the SetWeak API:
https://cs.chromium.org/chromium/src/v8/include/v8.h?rcl=1

[2018-05-18 16:51] ofrobots commented on #199
@nolanmar511 are you able to reproduce this locally at all?

Secondly, are you able to reproduce this with the Node.js master branch / canary build? If we are going to add more instrumentation, we will need to run with our own build.

@ulan: can we add permanent instrumentation (i.e. trace events - disabled by default) to the above locations. These sound like locations where we should have probes

[2018-05-18 16:55] aalexand commented on #199
@ofrobots It was mentioned that it's reproducible on a GCE instance but not locally. @nolanmar511 It would be good to look at what the CPU usage looks like when this happens (is the node process idle or it's doing something CPU intensive). It would also be good to see if this reproduces with just CPU profiler on or just heap profiler on.

[2018-05-18 18:28] nolanmar511 commented on #199
@ofrobots -- I'm currently working on a g1-small GCE instance.
I can reproduce with v11.0.0-v8-canary20180516056b78fafe.

Also, CPU use is high (greater than 90%) during the long pauses.

[2018-05-22 04:43] aalexand opened #207 "Vulnerability warnings in the e2e test logs"
Saw this in the logs:

[code]

[2018-05-22 16:28] aalexand commented on #207
Can we automate checking this as part of the Circle CI runs?

[2018-05-22 16:31] ulan commented on #199
@ofrobots adding a trace-event per callback might be too expensive. We would need to measure this on benchmarks.

Adding high-level trace-event to GlobalHandles::* functions sounds good to me.

[2018-05-22 18:06] nolanmar511 commented on #199
I should try setting a ulimit to see if I can reproduce this locally.

[2018-05-22 18:14] nolanmar511 commented on #199
Also, I should run and collect profiles with gperftools.

[2018-05-23 00:08] aalexand opened #210 "Add greenkeeper check for package-lock.json"
From https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/pull/209#issuecomment-391172365: "This tool can be helpful in keeping the package-lock.json up to date in greenkeeper using repos: https://github.com/greenkeeperio/greenkeeper-lockfile"

[2018-05-23 00:40] nolanmar511 commented on #199
I collected the attached profile using `node --prof`.
[isolate-0x33671d0-v8.log](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/files/2029053/isolate-0x33671d0-v8.log)

Not sure how to add more instrumentation (or what instrumentation should be added). Building on a GCE instance is slow, but doable; copying a built version of node to a gce instance could also work.

[2018-05-23 00:41] nolanmar511 commented on #199
Still working on running with gperftools (using `CPPFLAGS=-g nvm install -s 10.1.0` to install node 10 on the GCE instance is slow; it failed the first time).

[2018-05-23 15:32] aalexand commented on #199
@nolanmar511 But are you still able to reproduce the issue with that modified VM?

[2018-05-24 15:15] aalexand opened #212 "CI integration tests fail on Node 10"
[code]

[2018-05-24 21:38] nolanmar511 commented on #212
I think there was a bug with 10.2.0.
I was able to reproduce locally with 10.2.0 by running `node-gyp rebuild`, but with 10.2.1, this command completed without errors.
Triggered another build (since the last CI integration test was with 10.2.0). Will close this if the has a successful build with node 10.

[2018-05-24 21:56] nolanmar511 commented on #212
Has a successful CI integration test with node 10.2.1

[2018-05-24 21:56] #212 closed

[2018-05-24 23:43] ofrobots commented on #212
Yep: this was a regression in 10.2.0 :( ([CHANGELOG](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V10.md#2018-05-24-version-1021-current-mylesborins))

[2018-05-25 19:35] nolanmar511 commented on #199
This is related to having the heap profiler enabled.
I ran with only the CPU profiler enabled, and had no problems. Running with the heap profiler only, I was able to reproduce this.

[2018-05-25 22:09] nolanmar511 commented on #199
Was able to reproduce with a build of node cloned from https://github.com/nodejs/node.
Working on adding more tracing now.

[2018-05-25 22:27] nolanmar511 commented on #199
I collected a trace with the version of node I'd built.... it's hsowing ~10 minutes spent in V8:DispatchPendingPhantomCalls.

[node_trace.2.log](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/files/2040988/node_trace.2.log)

[2018-05-28 11:00] ulan commented on #199
Since this happens in V8:DispatchPendingPhantomCalls and only with the heap profiler enabled, it could be the SamplingHeapProfiler::OnWeakCallback:
https://cs.chromium.org/chromium/src/v8/src/profiler/sampling-heap-profiler.cc?q=SamplingHeapProfiler::OnWeakCallback&sq=package:chromium&dr=CSs&l=104

Does it have O(n) complexity in the number of samples_? If so, then the total complexity of calling

[2018-05-29 06:29] aalexand commented on #199
@ofrobots PTAL

[2018-05-29 21:04] ofrobots commented on #199
@nolanmar511 can you provide the post-processed version of the `--prof` log you included in https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/issues/199#issuecomment-391184462. To precise same version of node used to generate the log is needed to process the log (using `--prof-process`).

@ulan: Has anything changed in V8 in Node 10 that we would start seeing this pathology. We take a s

[2018-05-29 21:40] nolanmar511 commented on #199
@ofrobots -- I've been using node v10.1.0

[2018-05-30 06:46] ofrobots commented on #199
The `--prof` profile doesn't seem very useful:

[code]

Most of the ticks are in `libstdc++` but precise symbol is not available.

[2018-05-30 06:55] ofrobots commented on #199
Can you give me instructions to reproduce this myself?

[2018-05-30 11:02] ofrobots commented on #199
Here's a flamegraph: https://gist.github.com/ofrobots/dbc55eb6ab27ea06be247384d86af5c6 (download and open). We are indeed spending a lot of time in the STL tree implementation. I am investigating.

[2018-05-30 12:46] ofrobots commented on #199
The set of samples indeed grows to a really large size (~200k) before the weak callback is called, and the weak callback is quadratic in complexity indeed. It seems that something has changed in GC that delays the weak-callbacks from being called incrementally resulting in this massive pause. All but 200 of the ~200k samples get their weak callback called in one shot.

I can reproduce this behavio

[2018-05-30 15:08] ulan commented on #199
@ofrobots and I tracked this down to a GC bug: https://bugs.chromium.org/p/chromium/issues/detail?id=847863

[2018-05-31 15:11] aalexand commented on #199
@ulan @ofrobots Can this be fixed (and ported to Node 10) soon?

[2018-05-31 19:04] #207 closed

[2018-06-01 08:14] ulan commented on #199
@aalexand I am working on a fix and will make sure that it can be merged back.

[2018-06-04 19:19] ulan commented on #199
@ofrobots do the CLs in crbug.com/847863 fix your repro case?

[2018-06-04 22:28] nolanmar511 commented on #47
An example of someone wanting pre-built binaries for the sampling heap profiler https://github.com/v8/sampling-heap-profiler/issues/19, as an example when pre-built binaries could be useful.

[2018-06-05 00:31] aalexand commented on #199
@ofrobots I also wonder if there is a potential to improve the square complexity mentioned in https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/issues/199#issuecomment-392493628. It might be not an issue but it probably still burns more CPU in the user's app than it could.

[2018-06-05 18:27] aalexand commented on #38
@ofrobots Any update on this? It might make sense to at least do the simple thing first and make sure that all of the time where the main thread is not executing any JS code is marked as (idle) rather than (program). Reporting everything as (program) doesn't make much sense.

[2018-06-05 19:36] ofrobots commented on #199
With the CLs in https://crbug.com/847863 I can no longer reproduce the issue. I've requested the merge back on the bug. Once/if approved, @ulan, can you do the merge to the requested branches?

@aalexand I'm +1 on reducing the complexity of the weak callback in the sampling heap profiler. I am not sure about the priority at this point though as it is unlikely to be measurable once the V8 bug is fi

[2018-06-05 19:42] ulan commented on #199
Yep, I'll merge back as soon as I get approval.

[2018-06-05 20:14] ofrobots opened #221 "Not possible to run this with Node.js prerelease/nightly binaries"
While investigating #199, I ran into this issue:

[code]

That semver test prevents the profiler from running against Node.js nightly or pre-release build. IMO, this should be a warning rather than a fatal error.

[2018-06-05 20:56] nolanmar511 commented on #188
Installing the v8-canary builds can be done in one line:
[code]

Installing the v8 integration build would be harder. There's some javascript code which does this, but it first retrieves retrieves a list of builds, then finds the latest successful build, then gets the build git revision and commit and then downloads the build. I don't think we'll need to get the revision and commit (those seem to

[2018-06-06 10:32] aalexand commented on #188
@nolanmar511 Enabling v8-canary build is probably a good first step. Empirically, how fresh v8 is in these builds?

[2018-06-06 11:12] aalexand commented on #221
I wonder why "v11.0.0-pre" does not satisfy the ">=8.9.4" part of the clause.

[2018-06-06 12:34] ofrobots commented on #221
https://docs.npmjs.com/misc/semver#prerelease-tags

[2018-06-07 17:03] ofrobots commented on #199
This has been merged in V8 6.8 and 6.7. It will get released in the next 10.x release. Too bad it missed 10.4.0 yesterday.

[2018-06-15 18:12] nolanmar511 commented on #221
Closing.
This should be fixed by #223.

[2018-06-20 07:22] aalexand commented on #221
Issues should be closed only after the fixing PR is submitted and #223 is not submitted yet. Re-opening.

[2018-06-20 15:20] #221 closed

[2018-06-20 17:03] nolanmar511 commented on #199
Confirmed by looking at integration tests that we are not seeing this in 10.4.1.

[2018-06-20 17:03] #199 closed

[2018-06-22 17:20] nolanmar511 commented on #188
When I run node-gyp rebuild with the v8-canary version of node, I get an error:
[code]

Any recommendations?
Would I have this problem using the lkgr build?

[2018-06-25 21:16] nolanmar511 opened #245 "Server-specified backoff is broken"
Starting with `@google-cloud/common` 0.18.X, the response returned when there is an error is null, so we don't have the portion of the response needed to identify the server-specified backoff.

I've filed https://github.com/googleapis/nodejs-common/issues/172

[2018-06-25 21:18] nolanmar511 commented on #245
We have not released in a while (~3 months), so this does not impact the released version of the agent.

[2018-06-27 19:34] aalexand commented on #245
This seems like a serious issue. Any news on when it might be fixed?

[2018-06-27 20:15] aalexand commented on #188
@nolanmar511 Did you mean to tag the person your question was addressed to?

[2018-06-27 21:21] nolanmar511 commented on #188
I asked ofrobots in meeting.
It will be necessary to clone https://github.com/nodejs/node-v8, and use the --nodedir flag to point to that directory.

Since we'll need to identify what the commit being used is, it's probably necessary to use v8-lkgr.

[2018-07-02 15:59] aalexand opened #247 "Add --trace-warnings to the node invocations in the end to end test runs"
This is to help CI failures when they occur, such as b/111003707. @ofrobots FYI

[2018-07-03 18:15] aalexand commented on #245
@nolanmar511 Looks like https://github.com/googleapis/nodejs-common/issues/172 is fixed so update the @google-cloud/common version?

[2018-07-03 18:16] aalexand commented on #210
@nolanmar511 Closing this as it seems this is no longer necessary as we use Renovate now? Please re-open if it's still relevant.

[2018-07-03 18:16] #210 closed

[2018-07-03 18:17] JustinBeckwith commented on #210
We are trying to figure out how to turn on renovate for GoogleCloudPlatform repos (only enabled in googleapis right now).  @theacodes is on the job :)

[2018-07-03 18:40] aalexand commented on #200
These data are available in the stats.

[2018-07-03 18:40] #200 closed

[2018-07-06 22:38] ofrobots commented on #38
I started looking at this. It turns out that Node is not reporting true idle times to the VM by default. See https://github.com/nodejs/node/issues/19009#issuecomment-403161559. A real fix for this would be for Node to report these phases by default, but we can work-around this in the meanwhile. WIP PR forthcoming.

[2018-07-09 15:20] nolanmar511 commented on #245
Been looking at this -- the change  googleapis/nodejs-common#182 does not fix this for us. Looking at the change, I believe it just returns the response field of the error as the response, and that response is missing the fields which specify the back off.

[2018-07-10 18:08] aalexand commented on #206
We should get the source map support first.

[2018-07-10 18:08] aalexand commented on #205
Is there a reliable way to identify what is profiler internals and what is not?

[2018-07-11 00:42] nolanmar511 opened #250 "Remove hack for determining server-specified retry backoff"
Once  googleapis/nodejs-common#172 it will be possible to revert #249.

[2018-07-11 14:20] #247 closed

[2018-07-16 14:14] #245 closed

[2018-07-17 18:03] #38 closed

[2018-07-18 22:18] nolanmar511 commented on #19
I've been working with the change exposing accurate line numbers for the wall profile.
[Here](https://github.com/nolanmar511/cloud-profiler-nodejs/tree/25f8a269fd62242bb3a2a04a8947fc2f49d289c9) is the agent I'm currently using and I've attached the script I'm profiling.
[bench.txt](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/files/2207522/bench.txt)

Here's a graph generated from

[2018-07-18 22:22] aalexand commented on #19
@nolanmar511 The graph picture is hard to read, is there a finer resolution version?

[2018-07-18 23:00] nolanmar511 commented on #19
I don't know that I can get a finer resolution version on github, but I updated my comment to include a screenshot showing just part of the graph.

[2018-07-20 17:59] aalexand opened #256 "Do not use SetIdle, it is deprecated"
On canary build, there is warning below, it needs to be fixed.

[code]

[2018-07-20 18:01] aalexand commented on #188
I would like to re-open this as I think using the Node.js canary build may be simple enough.

While verifying recent CPU profiler memory usage improvements, I used this command to install the [canary build](https://github.com/creationix/nvm/issues/1551):

[code]

With that I indeed had issues installing the profiler module:

[code]

But using [this trick](https://github.com/nodejs/build/issues/626

[2018-07-24 16:12] kilianc commented on #47
@ofrobots for the time being is it possible to have a list of dependencies this module needs when running in a barebone container? I am running `alpine-node` which is one of the most popular choices and I am struggling to make it pass build time.

[2018-07-24 19:44] aalexand commented on #47
@kilianc What are the build errors?

[2018-07-24 22:35] nolanmar511 commented on #188
I tried using --nodedir where the profiler is installed (so `retry npm install --nodedir=/.nvm/versions/node/v11.0.0-v8-canary201807247c08774a29 /cloud-profiler-nodejs/google-cloud-profiler-0.2.0.tgz`) and got a segmentation fault immediately after trying to collect a Wall profile.

Here's the complete output of the test run:
[out.txt](https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/f

[2018-07-25 05:54] aalexand commented on #188
@nolanmar511 Does it reproduce locally? Try to reproduce it locally, generate a core file and get the stack of the crash from the core file using gbd, something along [these lines](https://mytechrants.wordpress.com/2009/05/22/debugging-a-segmentation-fault-using-gdb/). That should give some clues about what is going on.

[2018-07-26 15:13] nolanmar511 commented on #188
Yep. This reproduces locally. This is the back trace.

[code]

[2018-07-26 20:11] nolanmar511 commented on #188
Steps to reproduce segfault:
[code]

[2018-07-27 04:48] aalexand commented on #188
I reproduce it with debug Node.js, see the information below. @psmarshall @ofrobots Any thoughts on this? This does not look to me like a mismatch between headers and the binary code (and I am pretty sure the headers used the profiler bindings here were the right ones).

[code]

[2018-07-27 04:48] aalexand commented on #188
Oh, and I used `canary-base` branch to build node.

[2018-07-27 04:58] aalexand commented on #188
FWIW, the code that faults is like this in canary-base:

[code]

but like this in master:

[code]

Maybe it will lead to some thoughts.

[2018-07-27 05:02] aalexand commented on #188
Looks like this commit changed this code - https://github.com/v8/v8/commit/f318f9835fb4c3f509fe2530cf72c08c56b74ee5.

[2018-07-27 05:04] aalexand commented on #188
I added a comment on https://chromium-review.googlesource.com/c/v8/v8/+/1106380.

[2018-07-30 22:25] aalexand commented on #250
@nolanmar511 Curious - any progress on the upstream bug?

[2018-07-31 12:06] psmarshall commented on #188
I logged an upstream bug here: https://bugs.chromium.org/p/v8/issues/detail?id=8003

[2018-08-01 00:46] nolanmar511 commented on #204
I'm starting to look at this, and for my first attempt, it looks like `__awaiter` functions give back bad line number information (well, no line number information).
Other line information is looking okay so far.

For example:
JS location:
[code]
Typescript location:
[code]

[2018-08-01 17:06] aalexand commented on #204
Could it be since this function is produced by the compiler and does not have a correspondence in the user's source? Should we elide such stack frames from the stacks?

[2018-08-01 17:25] nolanmar511 commented on #204
Yes -- I think that's it. The function is produced by the compiler so doesn't correspond to the user's source code.

In some cases it might make more sense if these were excluded. But then there are some stacks that are entirely functions which correspond to compiler-generated functions, like this one:

![image](https://user-images.githubusercontent.com/14046562/43537788-268052e4-9575-11e8-9814-95

[2018-08-01 17:54] aalexand commented on #204
In your example, are all of source locations in that stack missing the line number in the source map?

[2018-08-02 14:17] #205 closed

[2018-08-02 22:31] nolanmar511 commented on #204
Ah! The source maps I'm using don't give function names -- some of those have line numbers.

Looking at the line numbers I'm seeing, I think it's reasonable to use the function name given by the v8-profiler when no names are returned.

Then, for frames where the file name indicates we would expect to have line information, but we don't we can collapse those frames into their parents.

So, I would

[2018-08-02 23:26] ofrobots commented on #204
Should we be collaborating (sharing code?) with the devtools team that probably has to deal with the same concerns.

/cc @ak239 @a1ph because there are not enough Alexe[iy]'s on this issue.

[2018-08-02 23:29] ofrobots commented on #204
For some context, DevTools and [ndb](https://npm.im/ndb) do some blackboxing to collapse stack traces. That code – or at least the business logic – is probably relevant here and can be reused?

[2018-08-02 23:35] aalexand commented on #204
Yes, I don't see why we shouldn't do the same thing as Devtools do.

[2018-08-03 00:19] nolanmar511 commented on #204
Non-grey "(anonymous)" and "__awaiter" functions were from a module that's installed which we don't have source maps for.
I'll look at the DevTools stuff.

[2018-08-06 20:44] #256 closed

[2018-08-13 15:40] nolanmar511 opened #272 "Total time for Node.js time profiles is consistently less than 10 seconds."
Looking through profiles I've collected with the Node.js agent, I've noticed that profiles generally have less than 10 seconds of time.

[2018-08-13 16:38] aalexand commented on #272
What does the duration field contain for such profiles?

[2018-08-17 17:37] fhinkel opened #273 "npm test fails if `glcoud` is set up"
I use `gcloud` and `npm test` fails because `"projectId": "my-project-id"` shows up in the expected test output.

[code]

[2018-08-20 19:29] nolanmar511 commented on #273
I can reproduce -- I have gcloud on my desktop and `npm test` fails in this way if I set the GCLOUD_PROJECT enviroment variable.

The `util.normalizeArguments()` function (from `@google-cloud/common`) initializes the projectId with this value.

We already clear `process.env`. So I think the best solution is to restructure the code and tests.

[2018-08-20 20:31] nolanmar511 commented on #273
I made an error -- we do clear `process.env`, but not before initializing the `defaultConfig`.

[2018-08-20 20:32] nolanmar511 commented on #273
#275 should fix this.

[2018-08-20 21:36] aalexand opened #276 "E2e tests fail with a typescript compilation error"
[code]

[2018-08-20 21:58] nolanmar511 commented on #276
`delay` 3.1.0 was published 3 hours ago.

If I install `delay` 3.0.0, tests pass. If I install `delay` 3.1.0 tests fail.

[2018-08-20 22:47] nolanmar511 commented on #276
I filed https://github.com/sindresorhus/delay/issues/32.

[2018-08-21 00:59] #276 closed

[2018-08-21 14:37] #273 closed

[2018-08-23 09:37] fhinkel opened #280 "npm test fails on master"
Running `npm i && npm t` fails on all tests that use `nock()`:

[code]

[2018-08-23 09:38] fhinkel commented on #280
Where can I find the link to the CircleCi results?

[2018-08-23 15:09] nolanmar511 commented on #280
I haven't been able to reproduce this -- still looking.
All circle CI results should be available here: https://circleci.com/gh/GoogleCloudPlatform/cloud-profiler-nodejs

[2018-08-23 16:29] fhinkel commented on #280
Thanks. No worries then, looks like I have some weird config or something.

[2018-08-23 16:29] #280 closed

[2018-08-29 00:55] aalexand opened #286 "Reconstruct full stacks for async execution context"
Since a typical Node.js program is full of async execution, the profiler stacks may look confusing as the current stack does not contain the stack of the call that actually scheduled the currently executing call chain. This is a known problem of the Node.js environment, there are solutions like https://www.npmjs.com/package/stackup, see also slides https://www.slideshare.net/isharabash/cls-and-asy

[2018-08-30 00:00] nolanmar511 commented on #272
The duration field for slightly short profiles is 10s.

Perhaps the function which starts the profiler still has to do some work after it returns but before collecting samples?

[2018-08-30 21:21] xkLander opened #287 "Google Cloud Profiler fails to to install using either Yarn or Npm"
When I run "yarn install" i get a ton of node gyp errors, and also the failure to install the @google-cloud/profiler , I have tried this multiple times, I am using docker, and also running ./build.sh throws the same error.
4/4] Rebuilding all packages...
[1/11] ⠠ grpc
[6/11] ⠠ @google-cloud/profiler
[3/11] ⠠ grpc
[7/11] ⠠ speaker
error G:\myProject\node_modules\@google-cloud\profiler: Command fail

[2018-08-30 22:34] soldair commented on #287
would you mind providing your npm-debug.log? you can link it from a gist. =)

[2018-08-30 22:45] nolanmar511 commented on #287
The npm-debug logs would still be appreciated.
The profiler has a native component and we don't (yet) have pre-compiled binaries. Given that installation failed during node-gyp rebuild, the problem seems to be with compilation.

[2018-08-31 21:10] xkLander commented on #287
The issue was with Docker having a small image of Alpine Node which does not include Python v2.7 which works for node gyp, and other dependencies. To fix this, i referred to this issue in docker-node [282](https://github.com/nodejs/docker-node/issues/282)

The issue was not related to google profiler, rather it had to do with docker-node image.

[2018-08-31 21:11] #287 closed

[2018-09-07 21:37] aalexand commented on #250
@nolanmar511 A ping on this - was there progress upstream?

[2018-09-07 21:43] nolanmar511 commented on #250
I asked again about progress on the upstream bug, but no progress yet.

[2018-09-11 20:09] nolanmar511 opened #292 "CircleCI is getting slow."
CircleCI builds seem to be taking longer.

I was looking at the builds which our tests were queued behind and a saw this message:
[code]

Our builds were queued behind builds for GoogleCloudPlatform/google-cloud-java and GoogleCloudPlatform/google-cloud-python.

What's the right thing to do here?

[2018-09-11 23:43] aalexand commented on #292
We should probably figure out the admin(s) for GoogleCloudPlatform and contact them asking to raise the capacity of the builders here, but to do that it would be good to quantify "slow" - i.e. what it used to be and what it's now. Can we get numbers like that?

[2018-09-13 04:56] JustinBeckwith commented on #292
Greetings folks!  We've most of the way through the process of converting our other node.js repos over to kokoro.  It's been much faster, and more reliable.  @kinwa91 should be able to provide details :)

[2018-09-18 18:18] aalexand commented on #292
@nolanmar511 could you talk to @kinwa91 ?

[2018-09-25 18:49] aalexand opened #300 "Kokoro builds are failing some new presubmit checks"
E.g. for #259, see below. @nolanmar511 please talk to @JustinBeckwith on how to fix these.

<img width="802" alt="screen shot 2018-09-25 at 11 48 40 am" src="https://user-images.githubusercontent.com/1519040/46035895-06c72f80-c0b9-11e8-921f-8732c9eebf4a.png">

[2018-09-25 19:09] nolanmar511 commented on #300
Also cc/ @kinwa91.

I'm guessing these tests may have started running prematurely because we have a webhook setup for our e2e kokoro test.

[2018-09-26 21:29] JustinBeckwith opened #301 "Moving the repository"
👋 hey folks! We've moved most of our nodejs cloud libraries over to the `googleapis` github org.  I'd be happy to move this one, but I wanted to make sure there aren't any concerns first :) Calling @nolanmar511

[2018-09-26 21:41] aalexand commented on #300
@kinwa91 Did you have a chance to look at it? I am removing @nolanmar511 from assignees for now.

[2018-09-26 21:43] aalexand commented on #301
The public docs will have to be updated? Also, should agents for other languages move to this new org as well? E.g. https://github.com/GoogleCloudPlatform/cloud-profiler-java

[2018-09-26 22:45] JustinBeckwith commented on #301
Where are the public docs today? Are you talking about something on github.io, or the docs on c.g.c?

On the Java profiler, I'm not sure since we don't really run that repo.  Do you know who I should chat with?

[2018-09-26 23:06] nolanmar511 commented on #300
I had a CL to disable these. I'll try to get it in.

[2018-09-26 23:12] aalexand commented on #301
My team owns https://github.com/GoogleCloudPlatform/cloud-profiler-java, specifically @jqll

I meant the c.g.c docs. Thinking more, those docs actually refer people to using npm to install the agent, so maybe there is nothing to fix there. Ah, there is one link in profiling-nodejs.md file.

[2018-09-27 13:43] koistya opened #302 "Wall time shows 100% idle"
![image](https://user-images.githubusercontent.com/197134/46150069-63227e80-c274-11e8-9eb5-b7e170ae66f2.png)

[2018-09-27 16:07] aalexand commented on #302
@nolanmar511 PTAL

[2018-09-27 16:19] nolanmar511 commented on #302
It's not necessarily unexpected for a Wall Time profile to show 100% of time spent in "(idle)".
For example, when profiling a server that is not under load (or under a very light load), it's very likely that the the server isn't doing anything.

@koistya -- Could you provide more details about what you were profiling?

[2018-09-27 17:11] nolanmar511 commented on #300
We've removed the internal Kokoro configs that caused these tests to be run before they were ready to be run.

Closing this, since these tests are no longer running.

[2018-09-27 17:11] #300 closed

[2018-09-27 21:51] nolanmar511 commented on #188
The original crash has been solved, but still having problems with v8 canary.

Right now, when I try `NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/v8-canary nvm install node`, I get this error in the output:
[code]

[2018-09-27 23:34] aalexand commented on #188
@nolanmar511 I think the error happens because it tries to build the node from source and your machine doesn't have fully configured compiler. I would expect though that the canary location includes prebuilt node for linux-amd64 arch, and with https://github.com/nodejs/node/issues/22757 it still doesn't seem to be the case.

[2018-09-28 16:01] nolanmar511 commented on #301
I think it makes sense to move this repo -- especially since trace and debug have already moved.

In addition to the docs, we would have to update the Kokoro configuration and scripts used for our e2e tests, and our probers.

[2018-09-28 16:56] nolanmar511 opened #304 "Cannot compile a typescript application with latest release of profiler."
When I try to compile a typescript module with the profiler added, I get this error:
[code]

[2018-09-28 16:58] aalexand commented on #304
We really need https://github.com/GoogleCloudPlatform/cloud-profiler-nodejs/issues/171.

[2018-09-28 17:15] nolanmar511 commented on #301
aalexand pointed out that going to the URL  "https://github.com/GoogleCloudPlatform/cloud-debug-nodejs" redirects to the current repo.

Also, I checked that cloning from the old repo for the debug agent (`git clone https://github.com/GoogleCloudPlatform/cloud-debug-nodejs.git`) still works.

As long as those re-directs also work for google-cloud-profiler for some period of time, I think moving thi

[2018-09-28 21:49] #171 closed

[2018-09-28 21:49] #304 closed

[2018-10-01 19:37] nolanmar511 commented on #302
For now, I'm closing this issue, since wall time profiles can be 100% idle when the profiler is working as intended.

Feel free to re-open if you think that the wall profiler is not working as intended.

[2018-10-01 19:37] #302 closed

[2018-10-01 20:52] JustinBeckwith commented on #301
Done.  It's moved 🎉  Please do let me know if there are any troubles.

[2018-10-01 20:52] #301 closed

[2018-10-04 00:14] aalexand commented on #122
I don't think we currently expect more improvements here, let's close and re-open with more specific details when / if needed.

[2018-10-04 00:14] #122 closed

[2018-10-04 00:15] aalexand commented on #19
I think we should get this done for Beta at least on some early version of Node 11. Objections?

[2018-10-13 22:17] steren opened #308 "Support Knative environment variable for service and version"
The Knative open source project injects in the user container the variables `K_SERVICE` and `K_REVISION` that contain the equivalent of `GAE_SERVICE` and `GAE_VERSION`.

The profiler should pick them up if they are available and map them to service and version context.

[2018-10-15 16:37] nolanmar511 opened #309 "Add client-side validation of of service name"
The profile server requires that the service name match a particular regex (`^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?$`).

Right now, we only validate this on the server-side, but we should also validate this in the profiling agent, which would allow us to give users clearer error messages.

[2018-10-15 16:37] nolanmar511 commented on #309
This issue was originally reported for the go agent (https://github.com/GoogleCloudPlatform/google-cloud-go/issues/1176#issuecomment-429923463), but I believe is also applicable here.

[2018-10-16 18:30] aalexand commented on #206
Won't fix, will target this with source location information in the flame graph instead.

[2018-10-16 18:30] #206 closed

[2018-10-19 03:41] #309 closed

[2018-10-19 20:48] #188 closed

[2018-10-19 20:54] nolanmar511 opened #312 "Make v8-canary continuous test run separately from other continuous tests"
This will make it easier to know when the v8-canary continuous tests are failing, and when tests against current versions of node are running.

[2018-10-22 16:19] aalexand opened #315 "Stop suppressing warnings with -Wno-cast-function-type"
[code]

[2018-10-22 16:28] aalexand commented on #315
@nolanmar511 Ah, thanks, yes it was a mistake.

[2018-10-23 19:28] nolanmar511 commented on #315
The ones originating from our files should be fixed by #318.

Most of these we need NAN to address (https://github.com/nodejs/nan/issues/810)

[2018-10-24 23:34] nolanmar511 commented on #312
These tests are running automatically and passing now.

[2018-10-25 05:53] aalexand opened #319 ""Error: Heap profiler is already started" in the agent logs"
Noticed in http://sponge/target?id=fd37293f-fc21-4846-9265-621138a33269&target=cloud-profiler%2Fnodejs-agent%2Fcontinuous-v8-canary&searchFor= logs:

[code]

The test seems to be passing otherwise but the error message is not expected.

[2018-11-05 15:47] nolanmar511 commented on #292
@kinwa91 -- Looks like the kokoro tests may have been enabled again?
Is this expected? Should they be passing?

This repo already uses kokoro, so it has a webhook set-up. It will start running kokoro tests as soon as the configurations exist.

[2018-11-06 19:14] aalexand opened #327 "Stop testing against Node 9 and start testing against Node 11"

[2018-11-08 03:42] aalexand opened #328 "git clone is not retried properly?"
Saw failure http://sponge/17b91230-680d-4878-ba61-ca9cb0223d39 today, with the errors below. Looks like the first git clone had some error (it's not in the log, perhaps we redirect all of the output from git clone to /dev/null?) but the future retries failed because the directory cloud-profiler-nodejs already existed. This should be retried better.

[code]

[2018-11-12 02:06] hden opened #329 "Bug Report: Failed installation for Node 10"
## Environment
- GKE
- Node `node:10-alpine`

[code]

[code]

## Error

[code]

[2018-11-12 02:44] hden commented on #329
@ofrobots As you can see from the cloudbuild.yaml, it was build by the cloud builder (triggered by a GitHub release). My local `node_modules` was never committed to git.

Since the profiler requires python to build and we'd like to keep the image small (hence the alpine based image), I don't think a one-step build is possible.

FYI: the error message when running `npm install` within `node:10-alpi

[2018-11-12 18:59] ofrobots commented on #329
Hi @hedn: I am not too familiar with Cloud Build, but looking at the details I do see now that you are "building" the container with `node:10` and then deploying the container with `node:10-alpine`.

You have to make sure that the deployment environment is identical to the the build environment. A native module compiled on `node:10` will not work when deployed to `node:10-alpine`. I am not too fam

[2018-11-13 00:28] hden commented on #329
Got it. Thanks.

[2018-11-13 00:28] #329 closed

[2018-11-16 16:20] nolanmar511 opened #334 "Only admins can merge commits?"
aalexand wasn't able to merge a commit. It seems like only admins can merge commits right now.

I think it's related to our branch protection rules for master, which has this box checked:
![image](https://user-images.githubusercontent.com/14046562/48633424-202d7f00-e978-11e8-86e8-594a5337130a.png)

If we uncheck this box, would people with write access (but not without write access) be able to mer

[2018-11-16 16:44] JustinBeckwith commented on #334
oif.  Not sure how that happened.  I made both you and @aalexand admins on the repo, and disabled that setting.  Apologies for the trouble!

[2018-11-16 16:44] #334 closed

[2018-11-19 15:29] nolanmar511 commented on #327
Fixed with #332

[2018-11-19 15:29] #327 closed

[2018-11-20 10:17] BrianChristie commented on #315
Can we get a release made with at least the fixes from https://github.com/googleapis/cloud-profiler-nodejs/pull/318 while waiting for NAN to address the remaining issues?

[2018-11-20 10:20] BrianChristie commented on #47
Is this being worked on?

We would like to use precompiled binaries, specifically compatible with the node8-alpine and node10-alpine Docker images (musl).

[2018-11-20 18:03] nolanmar511 opened #336 "What to do about @types dependencies that aren't in devDependencies"
Typescript modules will not compile without @types/console-log-level and @types/semver modules:
https://sponge.corp.google.com/target?id=3c7a9b78-a7be-45f7-be4b-80b7cc99afa1&target=cloud-profiler/nodejs-agent/presubmit

[2018-11-20 18:45] JustinBeckwith commented on #336
There are really two ways to go about this:
1. Don't expose other modules interfaces publicly
2. Ship the `@types` package in the `dependencies` section

1 is ideal, sometimes 2 happens 🤷‍♂️

[2018-11-20 18:49] ofrobots commented on #336
IMO, 2 can be avoided in most situations, as here.

[2018-11-20 18:50] nolanmar511 opened #339 "Stop pinning the version of sinon used."
We should revert  #338

[2018-11-20 19:21] #336 closed

[2018-11-20 20:54] nolanmar511 commented on #315
Thanks!
We just released 0.2.3!

[2018-11-20 22:07] AndrewMorsillo opened #342 "Error: Could not locate the bindings file."
Building with webpack it seems that the bindings don't get copied to the output directory of the build correctly. I added CopyWebpackPlugin to copy the files from node_modules/@google-cloud/profiler/build/Release to my build directory. Even after doing this and verifying the the file is present the app fails to start saying it can't locate the bindings file. It gives output saying it tried various

[2018-11-23 18:58] AndrewMorsillo commented on #342
Turns out this was due to webpack. I was bundling node_modules in my server bundle but there are a lot of node things, cloud-profiler-nodejs included, which webpack cannot compile for node yet. I marked my node_modules as externals using webpack-node-externals and everything works properly now.

[2018-11-23 18:58] #342 closed

[2018-11-29 18:35] nolanmar511 opened #346 "setTimeout is attributed to the file in which it is called."
![image](https://user-images.githubusercontent.com/14046562/49243321-e7eb5f00-f3c1-11e8-9605-57743adf7aee.png)

This is the script used (it's what we use in our prober), but I saw the same thing happening when I was experimenting with getting accurate line numbers:
[code]

[2018-11-29 22:23] nolanmar511 commented on #346
@psmarshall -- is this be expected?

[2018-11-30 01:03] nolanmar511 opened #348 "Line number information is lost with inlining"
Related to #19
I'm trying to use the accurate line information feature, and it seems like I'm losing line number information when inlining is enabled.

I'm using the latest version of Node 11.
This is the script I used: [busybench-line-nums.txt](https://github.com/googleapis/cloud-profiler-nodejs/files/2631434/busybench-line-nums.txt)
I used profiling agent in PR #258

With --noturbo-inlining
![im

[2018-11-30 01:15] nolanmar511 opened #349 "Misattributed parent with accurate line number"
Profiling with agent from PR #258
This is the script I profiled (I ran with --noturbo-inlining):
[busybench-3.txt](https://github.com/googleapis/cloud-profiler-nodejs/files/2631458/busybench-3.txt)

This is the javascript object I return from the binding: [parent-wrong.txt](https://github.com/googleapis/cloud-profiler-nodejs/files/2631457/parent-wrong.txt).
The function f2 is a a child of busyloop

[2018-11-30 17:06] nolanmar511 commented on #349
The line number for the sample with the strange parent is the line number of the function's declaration.

[2018-12-04 12:22] psmarshall commented on #346
Is the expected result that it shows up in node/lib/timers.js where this is implemented?

[2018-12-04 14:47] nolanmar511 commented on #346
Yes, I think I would expect it's file to be timer.js (it's parent is indicated as being in "timer.js").
Should have clarified, so thanks!

[2018-12-08 18:43] aalexand commented on #292
@JustinBeckwith We haven't heard anything from @kinwa91. What's the path forward here? Is there a better owner?

[2018-12-08 18:49] aalexand commented on #250
@nolanmar511 @JustinBeckwith Any update?

[2018-12-08 18:50] #123 closed

[2018-12-08 18:50] aalexand commented on #123
@ofrobots @nolanmar511 We can discuss it, but I am not sure it's really worth it since there isn't a lot of code to share. So closing, as a proposal.

[2018-12-10 15:23] #319 closed

[2018-12-10 15:31] nolanmar511 commented on #315
https://github.com/nodejs/nan/issues/810 has been fixed, but not released since that fix.

I asked on that issue for a new release of NAN.

[2018-12-10 18:51] nolanmar511 opened #361 "Heap profile sample / call site locations should carry accurate line number"
Related to #19, but focusing on heap profile.

[2018-12-10 19:14] nolanmar511 commented on #19
Could we drop this from the beta milestone?

Line numbers are not currently exposed in the UI, it's unlikely that we'll have similar line number support for heap profiles for a while (since we'd need additional changes to v8), and we'd need some changes to v8 to make this feature fully supported.

[2018-12-11 05:05] aalexand commented on #19
@nolanmar511 I think it's reasonable, so done. We should still enable e2e tests for the feature to make sure we continuously exercise it / make sure the quality does not regress.

[2018-12-11 13:58] psmarshall commented on #348
It looks like this happens when we do nested inlining. e.g. in your example, `f2` seems to have correct line numbers, but `f3` has none at all. V8 bug: https://bugs.chromium.org/p/v8/issues/detail?id=8575

[2019-01-09 20:52] nolanmar511 commented on #315
With latest version of NAN installed, no deprecation warnings appear on master.

Marking this as fixed.

[2019-01-09 21:44] aalexand commented on #315
@nolanmar511 Are prober logs also free of deprecation warnings now?

[2019-01-09 22:10] nolanmar511 commented on #315
Still seeing the deprecation warnings in prober logs.

I think we'd have to do a release.
The latest release uses an 2.11.1, and the necessary fixes weren't all present in nan until 2.12.1

[2019-01-23 17:02] nolanmar511 opened #390 "Load source maps lazily"
This builds on #204.

By lazily loading source maps, we should be able to start reading source maps in the node_modules directory.

[2019-01-23 17:03] nolanmar511 commented on #204
Opened #390 as a follow-up to this.

Closing this, since it was added in #268

[2019-01-23 17:03] #204 closed

[2019-01-28 17:37] nolanmar511 commented on #315
Installing the latest version of `@google-cloud/profiler` with 10.12.0 (or with 10.15.0) does not have any deprecation warnings.

Closing this.

[2019-01-28 18:06] nolanmar511 commented on #315
Re-opening.

I still see warnings in our prober.

[2019-02-08 16:59] JustinBeckwith commented on #250
Hey folks - this has been fixed. Apologies for the delay here.

[2019-02-13 17:24] alexander-fenster opened #403 "system-tests grpc-js fail"
This library does not use gax so should not have system tests grpc-js at all, but if we add that task here to make the setup similar, its configuration must be fixed. Right now the task is failing immediately with

[code]

@kinwa91 can you please take a look and fix? Thanks!

[2019-02-15 00:21] JustinBeckwith opened #408 "npm install fails on MacOS"
With the latest (11.10) nodejs, I am struggling to run `npm install` on master:

[code]

[2019-02-15 00:27] aalexand commented on #408
@nolanmar511 PTAL?

[2019-02-15 00:31] nolanmar511 commented on #408
Looking now.
I can't reproduce on my linux workstation... But it looks like JustinBeckwith is using a Mac. This is a node-gyp failure (so, the failure occurs when binaries are being compiled) -- that makes it more likely to be OS-specific.

We've also never run continuous tests on Mac.. so I don't know it the profiler has ever worked on Mac.

@JustinBeckwith -- Is this specific to Node 11.10, or d

[2019-02-15 00:37] JustinBeckwith commented on #408
This also happens with 10.15.1.

[2019-02-15 00:40] nolanmar511 commented on #408
Looks like for node-gyp to work on MacOS, Xcode has to be installed:
https://github.com/nodejs/node-gyp#on-macos

This increases urgency for pre-compiled binaries for MacOS

[2019-02-15 01:47] aalexand commented on #408
Given the profiler is primarily for profiling production environments and those are rarely OSX I am marking it as p2 instead of p1.

[2019-02-15 02:01] JustinBeckwith commented on #408
The problem is that nobody on OSX can actually run `npm install @google-cloud/profiler`, so I can't develop my app if I use it.  This is not good 😟

[2019-02-15 17:11] JustinBeckwith commented on #403
@kinwa91 bumping the pri on this one - too many failing tests floating about :0

[2019-02-15 18:29] nolanmar511 commented on #408
There is a work-around (installing Xcode).

Should we document that while working on pre-compiled binaries?

[2019-02-15 18:36] JustinBeckwith commented on #408
If this is only an issues on master (not the shipped module), and it'll get fixed with the next release - I say let it lie.

[2019-02-18 03:10] jasonswearingen opened #411 "no line numbers?"
I tried out the profiler and it looks interesting, but I don't see line numbers listed in the output.

Additionally, I don't see any line numbers when looking at the screenshots shown here: https://cloud.google.com/profiler/docs/using-profiler

However, a number of the issues in this repo's tracker mentions improving line numbers...     is there something I'm missing?   I need line numbers because

[2019-02-19 15:45] nolanmar511 commented on #411
There is some line number information currently available in the the Node.js profiles. However, the line number information is not currently displayed in the Stackdriver Profiler UI. Also, line numbers in the profile refer to the first line of the function, rather than the line from which the next function in the stack was called or the line number where time was spent or memory was allocated.

It

[2019-02-19 16:00] jasonswearingen commented on #411
thank you for the reply.    Yes if possible to show actual line numbers (even just of the function entrypoint) in the UI, it would be a really great improvement.

I have been trying various NodeJs profilers in the last few days and the Stackdriver Profiler has the most clear and actionable information, which I find surprising as it seems to be sampling based.

FYI I was considering trying pprof bu

[2019-02-19 16:00] #411 closed

[2019-02-25 05:42] #403 closed

[2019-02-25 18:29] ofrobots opened #425 "Some devDependencies listed as dependencies?"
I found this in the package.json
https://github.com/googleapis/cloud-profiler-nodejs/blob/9ecb26dbe8dacf5ce7a09c79f1a021789f17f896/package.json#L34-L37

I expect these to be dev-dependencies. Is there a reason these are direct dependencies?

[2019-02-25 18:30] nolanmar511 commented on #315
I reproduced an an ubuntu GCE instance. For reference, here are deprecation warnings:

[code]

[2019-02-25 18:43] #250 closed

[2019-02-26 19:20] nolanmar511 commented on #315
Re-purposing this issue to be about removing the suppression of warnings added in #424 .

[2019-03-03 01:28] steren opened #431 "Profiler agent should extract service name from `K_SERVICE` env var"
`K_SERVICE` is the env var where the Knative service name is stored. Profiler should use it instead of producing an error that the service has not been specified.

Today, I see "@google-cloud/profiler Error: Service must be specified in the configuration"

[2019-03-03 01:28] steren commented on #431
OOps, this is a dupe of https://github.com/googleapis/cloud-profiler-nodejs/issues/308

[2019-03-03 01:28] #431 closed

[2019-03-03 01:28] steren commented on #308
Ping?

[2019-03-04 21:44] nolanmar511 commented on #315
Removed from Beta hotlist, since this issue has been re-purposed and original deprecation warnings no longer appear.

[2019-03-06 20:14] nolanmar511 commented on #308
This is something we want to do, but probably not something we'll get to until after pre-built binaries for https://github.com/google/pprof-nodejs.

[2019-03-08 15:48] aalexand commented on #308
@nolanmar511 This is prioritization, not a dependency, right?

[2019-03-08 15:50] nolanmar511 commented on #308
Yes -- this is a prioritization.

[2019-03-08 15:57] aalexand commented on #308
@steren What do typical values for K_SERVICE and K_REVISION look like? Which regular expression they match, essentially? We'll need to make sure they can be passed as is to the service and version fields. Also, confirm please that these are set before the process start and won't change during the process lifetime.

Other that that, @nolanmar511, the fix is just updating code at https://github.com/

[2019-03-08 16:01] nolanmar511 commented on #308
It's a quick fix. But a fix that we would probably want to make in all agents -- which makes it a bit bigger of a fix.

[2019-03-08 16:07] aalexand commented on #308
Still seems a trivial fix as we read the GAE_* variables in all agents already.

steren@, feel free to also send a PR / CLs for this if you want to get this fixed sooner.

[2019-03-09 02:23] steren commented on #308
These env vars are following Kubernetes resource names and follow their requirements.

[2019-03-12 14:08] #308 closed

[2019-03-29 21:44] nolanmar511 commented on #408
Repurposing this issue for MacOS pre-compiled binaries.

[2019-03-29 21:46] nolanmar511 commented on #408
I'm closing this, because I now want to track this in pprof-nodejs (which has the native component now).

New issue here: https://github.com/google/pprof-nodejs/issues/33

[2019-03-29 21:46] #408 closed

[2019-03-29 21:48] nolanmar511 commented on #47
Closing this issue.

Pre-built binaries are available for Linux and Linux Alpine.
I opened https://github.com/google/pprof-nodejs/issues/33 and https://github.com/google/pprof-nodejs/issues/34 for getting pre-built binaries for Mac and Windows, respectively.

[2019-03-29 21:48] #47 closed

[2019-04-01 02:28] jhnferraris commented on #408
Any update on this? I'm still experiencing this error:

[code]

[2019-04-01 14:37] nolanmar511 commented on #408
@jhnferraris -- Do you have python 2 installed? Is it the version of python used by default on your machine.

Looking at similar problems with node-pre-gyp (I saw a similar error messages with node-pre-gype [here](https://github.com/electron-userland/electron-forge/issues/585) and [here](https://github.com/nodejs/node-gyp/issues/1528)), it seems that this error might be related to the node-pre-gyp

[2019-04-01 15:11] kalyanac commented on #408
@nolanmar511  can we force npm to use only Python 2 and bail if not found?

[2019-04-01 15:42] nolanmar511 commented on #408
@kalyanac -- I don't know that there is an easy way to verify that Python 2 is available when needed.

We would only want to verify that Python 2 is present when node-pre-gyp fails to download pre-built binaries. If those binaries are available, it doesn't matter is Python 2 is available; if the binaries cannot be downloaded, node-pre-gyp is going to try to build the binaries from source right awa

[2019-04-02 01:56] jhnferraris commented on #408
@nolanmar511 Hi Margaret, my local macOS uses Python 3. I got it to install the node package. My prerequisite was to install [pyenv](https://github.com/pyenv/pyenv) so I can easily switch between Python versions.

[2019-04-02 20:04] nolanmar511 commented on #408
Thanks!

I have sent https://github.com/googleapis/cloud-profiler-nodejs/pull/454 to update docs clarify that additional dependencies may be needed for installing @google-cloud/profiler.

[2019-04-05 23:26] nolanmar511 commented on #348
I've verified that this is fixed in latest version of v8-canary.

Thanks peter for this fix!

[2019-04-05 23:26] #348 closed

[2019-04-18 19:07] montmanu opened #463 "Authentication on GKE"
It appears that the `keyFilename` configuration option is ignored when attempting to authenticate to the Profiler API on GKE.

When viewing the [API usage by Credential](https://console.cloud.google.com/apis/api/cloudprofiler.googleapis.com/credentials), only the `Compute Engine default service account` appears to be interacting with the API.

The agent is logging error messages similar to the fol

[2019-04-18 19:20] kalyanac commented on #463
@nolanmar511  can you take a look ?

[2019-04-18 19:32] nolanmar511 commented on #463
@JustinBeckwith -- Most of `@google-cloud/profiler`'s authentication is handled through `@google-cloud/common` (and, then through `google-auth-library`). The `keyFilename` field of `@google-cloud/profiler`'s options comes from [`GoogleAuthOptions`](https://github.com/googleapis/google-auth-library-nodejs/blob/af59a47e0b3ba254996960549fdf569f8b13af60/src/auth/googleauth.ts#L54-L84). Do you know wha

[2019-04-18 20:37] JustinBeckwith commented on #463
👋 @montmanu can you provide a code snippet of how you're trying to use the profiler?

[2019-04-18 23:01] montmanu commented on #463
Sure thing!

Here is an overview of how we went about integrating the profiler:

1. Enabled the API

[code]

2. Installed the NPM package

[code]

3. Imported the NPM package and started the agent

[code]

Regarding the host environment, the container is built using `node:8-alpine@sha256:8e9987a6d91d783c56980f1bd4b23b4c05f9f6076d513d6350fef8fe09ed01fd` as the base image. That base image is extende

[2019-04-18 23:07] montmanu commented on #463
not sure if it is relevant, but we are using a few other APM agents:

[code]

[2019-04-18 23:08] JustinBeckwith commented on #463
This looks like it should work.  @nolanmar511 I can't seem to `npm install` on OSX, so it's very hard for me to test this :/

[2019-04-19 00:15] nolanmar511 commented on #463
For OSX, a few additional dependencies are required, but the profiling agent should still work.
https://github.com/nodejs/node-gyp#installation

[2019-04-19 20:58] nolanmar511 commented on #463
Starting to experiment this.

To test, I had two projects (I'll call them A and B). I created a key for project A to use Stackdriver Profiler's agents. I then created a GCE VM in project B and ran some Node.js with the profiling agent.

So, snippet for starting the profiling agent:
[code]

With this, I was able to collect and upload profiles from project B's GCE VM into project A. So, "keyFilename

[2019-04-20 04:11] montmanu commented on #463
Thanks for digging in. I started to try out using the `google-auth-library` directly with a limited test case.. something like the following after (`kubectl exec`ing into a running container) ..

[code]

I'm sort of guessing wrt the actual Profiler API request details.. only had time to track down the `baseUrl` value for the API .. I tried sending a few GET requests with several variations in the

[2019-04-22 17:55] nolanmar511 commented on #463
I haven't been able to reproduce this on GKE when specifying `keyFilename` and trying to upload to the same project or when specifying `keyFilename` and trying to upload to a different project.

I have reproduced the error message (`Error: The caller does not have permission`) when the key file isn't right (for example, when I tried to use a key created for with the role of Stackdriver Profiler Us

[2019-04-22 20:37] montmanu commented on #463
thanks again!

Unfortunately, the key file appears to be correct and the service account appears to have the Stackdriver Profiler Agent role applied :/

[code]

[code]

<img width="352" alt="Screen Shot 2019-04-22 at 4 25 41 PM" src="https://user-images.githubusercontent.com/639255/56527701-0cd0a200-651c-11e9-96ce-811f29947c8c.png">

Agree with you though.. its strange that the other APM libraries

[2019-04-22 20:52] montmanu commented on #463
fwiw, this same configuration is working as expected in a different project (different clusters, different Service Account, and therefore, different key.. but same IAM policy, APM integration details).. the project where this is working would likely not have been an EAP participant which may give a bit more weight to that EAP related hypothesis..

[2019-04-22 21:05] nolanmar511 commented on #463
+aalexand@ -- Could a project having been part of EAP impact authentication?

[2019-04-22 23:51] aalexand commented on #463
@nolanmar511 I can't think of how it could.

[2019-04-23 00:01] nolanmar511 commented on #463
@montmanu -- you indicated only the Compute Engine default service account appears to be interacting with the API. Was it unexpected that the Compute Engine default service account interacted with the API? Could something else be using that token?

Based on my experiments, my assumption is that the profiling agent is using the file specified by `keyFilename`, but that that key file doesn't grant t

[2019-04-23 22:42] nolanmar511 commented on #463
Another possible guess:
Based on you comments above, it looks like you specify the `projectId` in the configuration. But, just in case that's not the case, specifying the projectId in the configuration (and, to be overly-specific, ensuring that that project id matches  the project id in the key file) might help.

Similarly, specifying the exact project ID in [your example using google-auth-library

[2019-04-24 14:47] montmanu commented on #463
ok thanks. yes, i can definitely delete / re-create that key and re-test. will also confirm that the projectId is correct. will follow up once that is complete.

[2019-04-26 15:53] montmanu commented on #463
So I have not yet had a chance to delete / re-create the SA key, but I have noticed new error messages related to auth in a couple of the other APM agents being used:

[code]

[code]

This cluster has node auto-updates enabled, so the cluster details have changed slightly from when this issue was created:

[code]

namely, `currentMasterVersion` and `currentNodeVersion` have both changed to `1.12.7

[2019-04-30 21:52] nolanmar511 commented on #463
@montmanu -- Have you had a chance to re-create the SA key?
Also,  should this be moved to google-cloud/common, or google-auth-library if authentication is impacting multiple agents?

[2019-05-08 19:09] nolanmar511 commented on #463
At this point, I'm closing this issue.

I don't think it's actionable for profiler without further information, and sounds like the problem may not be profiler-specific.

Feel free to re-open with additional context.

[2019-05-08 19:09] #463 closed

[2019-05-13 20:05] JustinBeckwith commented on #328
Greetings folks!  This one has sat around for a while, and fell out of SLO.  Could someone take a look?  @nolanmar511 @aalexand

[2019-05-13 20:10] nolanmar511 commented on #328
We have a matching issue internally.
Going to close this in favor of internal issue.

It's also not a bug, so much as cleanup.

[2019-05-13 20:10] #328 closed

[2019-05-15 20:57] nolanmar511 commented on #315
Marking this as fixed since native component is now in pprof module.
I filed https://github.com/google/pprof-nodejs/pull/63 there.

[2019-05-15 20:57] #315 closed

[2019-05-17 19:39] kalyanac opened #488 "Agent fails to create profiles because it cannot determine instance name"
Profiler agent is unable to create profiles because it cannot determine instance name. It cannot determine instance name because it, through another module, tries to read the wrong path on the metadata server.

[code]
Here is associated HTTP request:

[code]

Note that the request is invalid and returns 404 as expected.
`
"GET /computeMetadata/v1/instanceHTTP/1.1"
`
The correct request should be t

[2019-05-17 20:02] nolanmar511 commented on #488
So, this instance is set [here](https://github.com/googleapis/cloud-profiler-nodejs/blob/50a6f4eb0acb98611bde89bdc3cc57743d083070/ts/src/index.ts#L125), and calls [this](https://github.com/googleapis/cloud-profiler-nodejs/blob/50a6f4eb0acb98611bde89bdc3cc57743d083070/ts/src/index.ts#L36-L39) function.

So, I think it's coming from [`gcp-metadata`](https://www.npmjs.com/package/gcp-metadata)

[2019-05-17 20:05] nolanmar511 commented on #488
I'm first going to check if `const res = await gcpMetadata.instance('name');`  is the right way to get the instance name (it may not be).

[2019-05-17 20:31] nolanmar511 commented on #488
There's another possibility. Instance name and zone are fetched at the beginning.

If the metadata server isn't ready when we query the metadata server, then the instance wouldn't be set (per [this line](https://github.com/googleapis/cloud-profiler-nodejs/blob/50a6f4eb0acb98611bde89bdc3cc57743d083070/ts/src/index.ts#L128) we ignore errors which occur when we fail to get the instance name or zone,

[2019-05-17 20:32] nolanmar511 commented on #488
Sorry, one clarification. Is the "associated HTTP request" associated with the attempt to query the metadata server, not with the failed CreateProfile request?

[2019-05-17 23:21] kalyanac commented on #488
This is the query to the metadata server, not CreateProfile request

[2019-05-18 00:14] mike-marcacci opened #490 "Add support for node v12"
I'm sure this is already somewhere in the pipeline, but since v12 is the new LTS we're making plans to move sooner rather than later. Could we get a ballpark estimate for when v12 support might land here?

[2019-05-20 15:30] nolanmar511 commented on #490
This module depends on a native component which depends on nan.
For now, support for Node 12 is blocked by https://github.com/nodejs/nan/issues/849.

[2019-05-29 18:55] bcoe opened #499 "add synth.py and start auto-generating .kokoro, etc"
There's is currently no `synth.py` in this repo, making it difficult to perform automated updates to `.kokoro`, `README.md`, etc.

[2019-05-29 18:57] bcoe opened #500 "add synth.py, start auto-generating .kokoro, etc."
There is currently no `synth.py`, making it more difficult to roll-out automated updates with `synthtool`.

[2019-05-30 00:15] JustinBeckwith commented on #339
Sinon is unpinned 🙃

[2019-05-30 00:15] #339 closed

[2019-06-05 19:20] mike-marcacci commented on #490
Just to follow up, the upstream dependency is now closed, and nan is stable on v12.

[2019-06-05 20:45] nolanmar511 commented on #490
@jkwlui -- Is unit testing with Node 12 ready?

Basically, does the trampoline image "gcr.io/cloud-devrel-kokoro-resources/node:12-user" exist?

[2019-06-05 20:54] #500 closed

[2019-06-07 18:27] #488 closed

[2019-06-25 18:18] JustinBeckwith opened #512 "Cannot run tests with `./docs` directory present"
We use `jsdoc` to generate docs for the project.  When you generate docs, then run `npm test`, you get a wild stack trace.

$ npm run docs
$ npm test

Using node.js 11.5.0 on OSX.

[code]

[2019-06-26 21:12] nolanmar511 commented on #490
@JustinBeckwith  -- Do you know if unit testing for node 12 is ready?

[2019-06-26 21:57] JustinBeckwith commented on #490
We just haven't got there yet.  Last time I checked, we had real problems with `nock`, which we use heavily.  We are tracking this over here:
https://github.com/googleapis/google-cloud-node/issues/2923

[2019-06-27 18:34] bcoe opened #515 "investigate why release-please is throwing exception"
to be consistent with our release process for other Node.js repos, we should move to using the automated release-please tool.

Currently it appears that the tool is running, but failing on the final step.

[2019-06-27 19:30] nolanmar511 commented on #515
@bcoe -- Where is release-please documented? I'm not familiar with it.

[2019-06-27 20:29] bcoe commented on #515
the [repo is here](https://github.com/googleapis/release-please), it's something you get for free with `.kokoro` hoever, it simply grooms a release-pr, similar to what you'd get running `releasetool` (but automatic based on conventional commit messages)... this is the first repo I've seen the tool fail on, which makes me think it's a permission issue.

[2019-07-21 10:43] Maxpain177 commented on #490
Any updates?

[2019-07-22 14:29] nolanmar511 commented on #490
[pprof](https://www.npmjs.com/package/pprof), which is the module @google-cloud/profiler uses to interact with V8's profilers, does have pre-built binaries available for Node 12. So, you should be able to experiment with using Node 12 and cloud-profiler-nodejs.

But, we're still blocked on unit testing for this repo by googleapis/google-cloud-node#2923.

[2019-08-01 21:32] #515 closed

[2019-08-30 17:53] Kyrluckechuck opened #533 "100% Idle When Profiling Wall Time on GAE Standard"
Apologies if this isn't the right format to be submitting this in!

I will pre-empt this with the Google App Engine project in question has the following set:
[code]

When attempting to profile my Node.js GAE instance, I have followed the prescribed steps and added the example code, as such:
[code]
and in app.js:
[code]
I then deployed to the GAE instance. After testing this for a few hours, I can

[2019-08-30 18:05] nolanmar511 commented on #533
I have a few clarifying questions:
First, what type of work is your server doing? The V8 CPU Profiler (which this agent's Wall profiler is built on) only profiles the main event loop. So, if your application does a lot of work reading files, for example, the profiles might be pretty empty.

Next, could you try adding a the filter "Hide stacks: (idles)", like in the following image.
![image](https:

[2019-08-30 18:09] Kyrluckechuck commented on #533
Woah.

Okay, so turns out this is user error (mine), however I feel like the documentation on the profiler should make it more obvious about hiding the idle stacks, and should almost be enabled by default...

Not sure how it calculates 100% idle, or 99% idle, but regardless I am now able to properly see some stats after adding the filter you specified.

Thank you!

[2019-08-30 18:09] #533 closed

[2019-09-09 20:17] rokerkony commented on #490
any upgrade on this?

[2019-09-10 22:05] nolanmar511 commented on #490
We've finished adding unit testing with Node 12 for this repository.
I'm planning to release this week.

[2019-09-23 22:22] nolanmar511 opened #547 "Installation of @google-cloud/profiler fails"
Installation for `@google-cloud/profiler` currently fails.

This is because `@google-cloud/profiler` depends on the `pprof` module, which uses node-pre-gyp (currently impacted by https://github.com/mapbox/node-pre-gyp/issues/477) to install pre-built binaries.

Running `npm install @google-cloud/profiler --build-from-source` should work on environments with the dependencies needed to build the bin

[2019-10-01 00:53] bcoe commented on #547
@nolanmar511 I wonder if there's an alternative library we could use that doesn't require compilation, any thoughts?

[2019-10-01 14:44] nolanmar511 commented on #547
Sorry, this issue is now resolved.

node-pre-gyp had a dependency issue which was ultimately resolved. I filed this in case any users were encountering the issue to document the work-around

Right now, there is not alternative library we can use for profiling which does not require a native component. We maintain pprof module specifically so it can be used in with module.

[2019-11-01 19:18] nolanmar511 commented on #490
This was fixed with v3.0.0

[2019-11-01 19:18] #490 closed

[2019-12-11 20:41] VikramTiwari opened #565 "Unable to use on electron app"
#### Environment details

  - OS: mac os 10.15.2
  - Node.js version: 12.13.1
  - npm version: 6.12.1
  - `@google-cloud/profiler` version: 3.0.1
  - `electron`: 7.1.3

Steps to reproduce:
- As soon as I start the app, it breaks with following error log:

[code]

[2019-12-11 21:12] nolanmar511 commented on #565
@VikramTiwari -- Could you provide a bit more information about how @google-cloud/profiler was installed?

@google-cloud/profiler depends on a module, [pprof](https://github.com/google/pprof-nodejs), that has a native component. pprof has some pre-built binaries available (just for Linux and Alpine when using Node.js 8, 10, or 12). When pprof is installed, the binary corresponding for the version

[2019-12-11 22:41] VikramTiwari commented on #565
Hey @nolanmar511 Thanks for the detailed response.

I tried with specifying the target during install and got following error. It didn't find the lib and tried to compile it's own.

[code]

[2019-12-17 18:20] nolanmar511 commented on #565
Sorry! It looks like I had missed a necessary flag.

VikramTiwari@, could you try adding the  flag `--dist-url=https://electronjs.org/headers`; so like `npm install --runtime=electron --target=7.1 @google-cloud/profiler --dist-url=https://electronjs.org/headers`. This worked for us to build the agent.

I'd found more information about using native modules with electron at https://github.com/electr

[2020-01-03 17:22] VikramTiwari commented on #565
Hey @nolanmar511 Sorry about the delayed response but seems like the issue with identifying a build version now.

[code]

[2020-01-03 17:36] nolanmar511 commented on #565
I'm so sorry about that! I have the same issue when I try to run the command I gave locally, so I copied over the command incorrectly here.

It looks like a full semver version needs to be specified for the target (so `--target=7.1.2` instead of `--target=7.1`). So something like the following works for me:
[code]
For my own reference, https://github.com/mapbox/node-pre-gyp/issues/307 showed this

[2020-01-14 12:08] yoshi-automation opened #579 "Synthesis failed for cloud-profiler-nodejs"
Hello! Autosynth couldn't regenerate cloud-profiler-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c9a67de3-2540-4828-a553-47aa5fbae976).

[2020-01-15 12:41] yoshi-automation commented on #579
Autosynth passed, closing! :green_heart:

[2020-01-15 12:41] #579 closed

[2020-01-22 16:49] JackCA opened #582 "Remove Idle time from weight calculations"
I've been trying to debug some long response times with my Node.js web server, but it's almost impossible because the heaviest "Weight" filters take into account the Idle time.

For example:

![Screenshot from 2020-01-22 08-46-26](https://user-images.githubusercontent.com/296167/72914554-bafbb900-3cf3-11ea-9659-0af3c2eb9e22.png)

This is the 1% Weight which took 8.54sec, but with only 80ms of it b

[2020-01-22 17:38] nolanmar511 commented on #582
Right now, Stackdriver Profiler's weight filtering feature is largely language and profile-type agnostic right now, and the weight is always determined. So, weight filtering right now isn't really interesting for wall time profiles collected against a single thread (Python wall profiles, in addition to the Node.js wall profiles would be impacted); for multi-threaded profiles, the profile's total (

[2020-01-22 18:06] aalexand commented on #582
The problem is real and exists for "wall" and "thread" profiles. E.g. in Go agent's "thread" profiles the weight filter is also often not interesting since there are many parked goroutines which do not represent any work in flight per se. Similar with Java wall profiles - threads often represent parked thread pool worker threads and filtering by the number of those is not useful.

Ideally, as a us

[2020-01-22 18:39] nolanmar511 commented on #582
A weight-filter-specific focus filter would definitely be the dream. It would solve this issue, and we wouldn't have to document any language-type / profile type specific issue.

Do we want to consider a shorter-term solution or aim for the ideal solution?

[2020-01-27 17:39] nolanmar511 opened #585 "Unit tests with Node 13?"
Right now, we run unit tests with Node 8, 10, and 12.

@bcoe, @JustinBeckwith -- Is there planned support for unit tests with Node 13?

[2020-01-27 21:44] bcoe commented on #585
@nolanmar511 I'm open to adding 13, I think we have 3 more months until 14?, but I'd like to take care of updating the testing matrix when we drop Node 8; which I'm hopeful will be mid-way through February.

[2020-01-27 22:07] nolanmar511 commented on #585
Node version changes are somewhat higher risk for this module, because of it's native dependency that relies on V8.

I'd like to add integration tests with Node 13, but I'd prefer to add integration tests and unit tests at the same time (for ease of debugging).

Adding just integration tests for Node 13 might be my best choice, but it is somewhat complicating. Our integration test is currently wri

[2020-02-04 15:40] nolanmar511 opened #591 "Drop support for Node 8"
We'd like to drop support for Node 8 before releasing v4.0.0, because we would like to reduce the number of major version changes for this module.

@bcoe  and @JustinBeckwith -- At what point in time will we be able to drop Node 8?

[2020-02-04 21:41] bcoe commented on #591
@nolanmar511 I have a meeting Thursday to discuss with folks on the serverless team, my hope was that we could coordinate with cloud functions promoting Node 10 to GA.

[2020-02-10 16:30] nolanmar511 commented on #591
@bcoe -- Any updates on the likely timeline for dropping support for Node 8?

[2020-02-10 17:42] JustinBeckwith opened #593 "Windows tests are failing (or flaking)"
Looking at https://github.com/googleapis/cloud-profiler-nodejs/pull/592, I can't imagine why that would cause the Windows tests to fail.

[2020-02-10 17:52] nolanmar511 commented on #593
Looking in [fusion](http://fusion/projectanalysis/summary/KOKORO/prod%3Acloud-devrel%2Fclient-libraries%2Fnodejs%2Fpresubmit%2Fgoogleapis%2Fcloud-profiler-nodejs%2Fwindows%2Ftest?search_pattern=presubmit%2Fgoogleapis%2Fcloud-profiler-nodejs%2Fwindows%2Ftest&include_inactive_projects=false), tests started failing on Jan 21, when the tested Node version switched from v8.9.1 and v10.15.3 to v12.14.1.

[2020-02-10 18:54] bcoe commented on #591
@nolanmar511 we're still aiming for mid to late Feb, I will help make sure we have the appropriate testing environments configured for `cloud-profiler-nodejs` :ok_hand:

[2020-02-18 17:40] #593 closed

[2020-02-18 18:01] JustinBeckwith commented on #585
I think we're here, right?
https://github.com/googleapis/cloud-profiler-nodejs/blob/master/.github/workflows/ci.yaml#L12

[2020-02-18 18:03] nolanmar511 commented on #585
Yep!
I'll close this; it's resolved.

[2020-02-18 18:03] #585 closed

[2020-02-28 02:27] kalyanac commented on #565
@VikramTiwari
Were you able to try the [suggestions](https://github.com/googleapis/cloud-profiler-nodejs/issues/565#issuecomment-570642449) from @nolanmar511 ?

[2020-03-05 19:47] VikramTiwari commented on #565
Hey @kalyanac and @nolanmar511 I am still seeing the same issue. I have created a proof-of-concept here: https://gist.github.com/VikramTiwari/d7325e0ce4543966a1d522b9fa215b42

It contains sample electron app, along with readme on the process that I followed and error that I got. Let me know if I can help debug this.

[2020-03-12 03:10] kalyanac commented on #565
@VikramTiwari I was able to reproduce your issue. I noticed that now you are trying to use electron 8.0.3, while the previous attempt was 7.1.2

The way I was able to resolve this is by removing existing pprof installation from node_modules, remove profiler, and install again with the electron version. I believe it's not rebuilding the pprof binary with the electron version if one already exists e

[2020-03-12 03:16] VikramTiwari commented on #565
Thanks for confirming @kalyanac! Will wait for more details on this from @nolanmar511.

[2020-03-12 03:30] kalyanac commented on #565
@VikramTiwari

There is no need to wait.

Start with a clean environment. Remove existing electron, and profiler. Check to make sure pprof directory is also removed from your modules location. Install the version of electron you want to use, and reinstall profiler so it builds with the correct electron version.

You can check modules directory/pprof/build to see if there correct version of electro

[2020-03-12 16:38] nolanmar511 commented on #565
I think the issue is that when one runs `npm install` and a package is already installed, the package won't be re-installed (unless a new version of the package must be installed). I don't think we can change this behavior.

To work around this, one can specifically install pprof (the native module used by @google-cloud/profiler) when changing versions:
So, if I run the following when `pprof` (the

[2020-03-12 16:52] kalyanac commented on #565
@nolanmar511

The command works but its important to note that it replaces the existing pprof/build/electron-v* with the new version. Both cant seem to co-exist.

[2020-03-12 16:52] kalyanac commented on #565
@VikramTiwari

I think we resolved this issue. Please reopen if you have any trouble.

[2020-03-12 16:52] #565 closed

[2020-04-15 18:36] #591 closed

[2020-04-15 18:45] JustinBeckwith commented on #292
So ....  I don't think this uses circleci anymore!

[2020-04-15 18:45] #292 closed

[2020-04-15 19:17] JustinBeckwith commented on #499
This is done!  Drinking the kool aid.  Only thing ignored is `README`, but given how special purpose this thing really is I think that's ok.

[2020-04-15 19:17] #499 closed

[2020-04-22 02:08] drveresh opened #637 "google-cloud/profiler failing to install on MacOS with Node v13.8.0"
Hi.

Unable to install "@google-cloud/profiler" for cloud functions. I tried to reinstall, clean cache and other trials, but nothing seems to be working.  Initially, it was failing with " node-pre-gyp", but later got it installed with the version "0.14.0", but the issue remain same.

I really appreciate your help to move forward.

#### Environment details
  - OS: Mac Catalina, 10.15.3 (19D76)
  -

[2020-04-22 16:25] nolanmar511 commented on #637
Breaking this answer up a bit, because there are a couple disparate things to note.

### Using the module on MacOS
This module depends on a module with a native component ([pprof]()). While this native module has pre-built binaries available for Linux and Linux Alpine, we do not have pre-built binaries available for Windows or MacOS, so additional dependencies are required on those operating syste

[2020-04-27 15:13] drveresh commented on #637
Thanks for the details, and I hope this OS dependency will be removed sooner for the better build experience.

Also, I was able to install everything and set up profiling for cloud functions, but it didn't track anything useful, and 98% of the events belong to internal NodeJs APIs and some system related.  Ideally, I was expecting that it would track app-specific functions against CPU, Memory, I/O

[2020-04-27 17:04] nolanmar511 commented on #637
Unfortunately, the OS-dependency cannot be removed at this time. There is an open feature request for pre-built binaries for Mac OS (https://github.com/google/pprof-nodejs/issues/33); but because profiling requires depending on a module with a native component, the OS dependency cannot be removed completely.

Our team is continuing to work on improving this produce, and so we hope to add support f

[2020-04-27 17:05] nolanmar511 commented on #637
I'm going to mark this issue as closed.

Please feel free to re-open this issue or file another issue if additional follow-up is necessary.

[2020-04-27 17:05] #637 closed

[2020-05-15 00:46] chingor13 opened #648 "Synthesis failed for cloud-profiler-nodejs"
Hello! Autosynth couldn't regenerate cloud-profiler-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/None).

[2020-05-15 00:51] chingor13 commented on #648
Autosynth passed, closing! :green_heart:

[2020-05-15 00:51] #648 closed

[2020-05-15 17:25] SurferJeffAtGoogle opened #649 "Synthesis failed for cloud-profiler-nodejs"
Hello! Autosynth couldn't regenerate cloud-profiler-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/None).

[2020-05-15 17:59] yoshi-automation commented on #649
Autosynth passed, closing! :green_heart:

[2020-05-15 17:59] #649 closed

[2020-07-10 11:10] yoshi-automation opened #663 "Synthesis failed for cloud-profiler-nodejs"
Hello! Autosynth couldn't regenerate cloud-profiler-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/1979c216-e1d1-4ad7-8808-960227f5506b/targets/github%2Fsynthtool;config=default/tests;query=cloud-profiler-nodejs;failed=false).

[2020-07-11 11:10] yoshi-automation commented on #663
Autosynth is still having trouble generating cloud-profiler-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/c5f13b1f-7668-46f2-8dd5-c0086c0e412f/targets/github%2Fsynthtool;config=default/tests;query=cloud-profiler-nodejs;failed=false).

[2020-07-12 11:10] yoshi-automation commented on #663
Autosynth is still having trouble generating cloud-profiler-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/67f247da-3452-49f9-83f2-1c60e05c5af2/targets/github%2Fsynthtool;config=default/tests;query=cloud-profiler-nodejs;failed=false).

[2020-07-13 11:10] yoshi-automation commented on #663
Autosynth is still having trouble generating cloud-profiler-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/47695b33-9a26-4328-b92d-2d15582ecee2/targets/github%2Fsynthtool;config=default/tests;query=cloud-profiler-nodejs;failed=false).

[2020-07-14 11:11] yoshi-automation commented on #663
Autosynth is still having trouble generating cloud-profiler-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/9c6207e5-a7a6-4e44-ab6b-91751e0230b1/targets/github%2Fsynthtool;config=default/tests;query=cloud-profiler-nodejs;failed=false).

[2020-07-15 00:11] JustinBeckwith opened #669 "Version 4.0.1 has a tag, but no package on npm"
Looking at this rollback PR here:
https://github.com/googleapis/cloud-profiler-nodejs/pull/662

The tag was created by this release PR here:
https://github.com/googleapis/cloud-profiler-nodejs/pull/635

But there is no `4.0.1` here:
https://www.npmjs.com/package/@google-cloud/profiler

[2020-07-15 02:40] bcoe commented on #669
I don't know what happened here, publish bot removed the tags as if it was published but it never showed up on npm.

[4.0.2](https://www.npmjs.com/package/@google-cloud/profiler/v/4.0.2) has now been published successfully.

I believe this should also make synthtool start working in the morning, if my hypothesis is correct see: #663.

[2020-07-15 02:40] #669 closed

[2020-07-15 11:12] yoshi-automation commented on #663
Autosynth passed, closing! :green_heart:

[2020-07-15 11:12] #663 closed

[2020-08-05 22:37] chrisdostert opened #683 "This lib seems to block event loop"
#### Environment details

  - OS: alpine linux
  - Node.js version: 14
  - `@google-cloud/profiler` version: 4.0.2

#### Steps to reproduce

  1. start an app with [blocked-at](https://www.npmjs.com/package/blocked-at) and @google-cloud profiler wired up
  2. watch logs and you'll see frequent blocking operations logged between 2-8 seconds example:
[code]

[2020-08-06 11:08] yoshi-automation opened #684 "Synthesis failed for cloud-profiler-nodejs"
Hello! Autosynth couldn't regenerate cloud-profiler-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/76bb7f6f-4d47-4888-b0d2-a8761a276cc8/targets/github%2Fsynthtool;config=default/tests;query=cloud-profiler-nodejs;failed=false).

[2020-08-06 18:08] yoshi-automation commented on #684
Autosynth passed, closing! :green_heart:

[2020-08-06 18:08] #684 closed

[2020-08-10 16:45] nolanmar511 commented on #683
I'm not able to reproduce multi-second blocks of the vent loop.

I was able to sometime get long blocks (up to ~750ms) at this same location; but those did not occur consistently -- ~20ms of blocking was more common.

Here's an example of what was logged; note that the blocking was always logged after "Successfully created profile WALL.":
[code]

Even though the line numbers in the stack trace sug

[2020-08-11 18:16] nolanmar511 commented on #683
I added additional logging to local versions of cloud-profiler-nodejs and pprof-nodejs.

It looks like the blocking happens just after the call into native code to begin profile collection ([here](https://github.com/google/pprof-nodejs/blob/dfd250880bf89e3d6fb115b766884780c5f3d5a2/ts/src/time-profiler-bindings.ts#L27) in pprof-nodejs).

I definitely see longer blocks on alpine-linux than I do when

[2020-08-13 15:56] nolanmar511 commented on #683
Yesterday, I added logging throughout pprof-nodejs, and was able to confirm that sometimes the method used to start the V8 CPU profiler takes a long time to return:

[code]
The logging for "Calling cpuProfiler->StartProfiling" and "Finished calling cpuProfiler->StartProfiling" was added around [the line on which the V8 CPU profiler was started](https://github.com/google/pprof-nodejs/blob/dfd250880

[2020-08-13 16:01] nolanmar511 commented on #683
I'm actually less worried on a reproducer; I think I should look into seeing if I can make all calls into C++ asynchronous in pprof-nodejs.

Then, issues like this won't block the event loop.

[2020-08-13 21:10] nolanmar511 commented on #683
Making the call to start the V8 CPU profiler asynchronous isn't option.

[This NAN example] (https://github.com/nodejs/nan/blob/8e4603d00fcbb5069b04da1368939d885163e2ce/examples/async_pi_estimate/async.cc#L31-L37) has the following comment:
[code]

To make starting the CPU profiler asynchronous (following traditional patterns), we would need to start the V8 profiler within the "Execute" method. So

[2020-08-13 21:17] nolanmar511 commented on #683
@psmarshall -- Could it be expected that `CpuProfiler::StartProfiling` sometimes takes on the order of 100ms-1s?

If it's within the range of expected behaviors, then I really want to make our call to start the CPU profiler asynchronous. But if it's not expected, then I might be better off looking at optimizing `CpuProfiler::StartProfiling`.

[2020-08-13 22:04] aalexand commented on #683
I think `CpuProfiler::StartProfiling` does some JIT code logging / dumps so that may need to be optimized. I think we touched on this in b/112464936#comment12 before. It would be good to profile with Linux perf or a similar profiler the StartProfiling function using node built with debug information (but optimized binary of course).

[2020-08-20 09:02] psmarshall commented on #683
Yes it's expected that `CpuProfiler::StartProfiling` takes a few hundred ms, we've seen that before for big sites e.g. facebook.com. I am pretty sure the slow part is where we iterate the heap and log some metadata about each function in [ExistingCodeLogger::LogCompiledFunctions](https://source.chromium.org/chromium/chromium/src/+/master:v8/src/logging/log.cc;l=2134;drc=9f022fa9c0074c4ad601ffb085e

[2020-08-20 11:41] psmarshall commented on #683
Here is a repro just in V8 tests BTW: https://chromium-review.googlesource.com/c/v8/v8/+/2366695

Profiler startup takes ~4.8 seconds with 500k functions on the heap

[2020-10-07 07:26] plegner opened #697 "Cloud Profiler has memory leak when used with v12.16.0 or greater and v14.0.0 or greater."
Using the Cloud Profiler on AppEngine NodeJS Managed VMs causes a memory leak.

- Node.js version: `12.x`
- `@google-cloud/profiler` version: `^4.0.3`
- Environment: Appengine Managed VMs

Here is a memory profile with the cloud profiler enabled:

<img width="1393" alt="before-memory" src="https://user-images.githubusercontent.com/2439570/95300046-ebce4f00-087e-11eb-8185-f315d431eb64.png">

And he

[2020-10-07 08:22] kalyanac commented on #697
Thank you for reporting this. Does this happen on one specific service or does it happen on other services as well?

Do you run more than one instance of this service?

[2020-10-07 08:32] plegner commented on #697
I only have a single service where I've used the profiler, but it happens on all (2) instances running that service. Happy to send you the project/service ID.

(I had previously filed case #25366321 in Cloud support, and one of your colleagues suggested removing the profiler.)

[2020-10-08 15:30] nolanmar511 commented on #697
I was able to reproduce running on my workstation, with Node.js 12.18.0 on my linux workstation using the AcmeAir application.

Logging process.memoryUsage() shows a memory increase is in RSS, with no corresponding increases in heap total, heap used, external or array buffer categories.

My next steps are to:
* reproduce using pprof-nodejs and a simpler-to-run application (this would allow us to c

[2020-10-08 18:06] nolanmar511 commented on #697
@plegner -- Do you happen to know the specific version of Node.js being used?

I'm running an application with node 12.0.0 for comparison; so far, it looks like there is a memory leak when I use node v12.18.0, but not when I use node v12.0.0.

[2020-10-08 18:08] nolanmar511 commented on #697
There does appear to be a chromium issue for this.
https://bugs.chromium.org/p/v8/issues/detail?id=10883&q=profiler&can=2

[2020-10-08 18:11] plegner commented on #697
I'm using `"engines": { "node": "12.x" }` in package.json, but I don't know which specific node version AppEngine picks

[2020-10-08 18:31] kalyanac commented on #697
@nolanmar511 Thank you for the analysis.
Let's recommend not to use 12.18.0 with Profiler on the repo home page and the GCP docs.

[2020-10-08 18:34] nolanmar511 commented on #697
I assume this issue still impact 12.19.0.

Let me confirm that this issue does not impact 12.17.0 (the latest pre-12.18 version); then update docs?

[2020-10-08 18:40] nolanmar511 commented on #697
I should also see if Node 14 is impacted (my guess is yes).

I haven't been able to create a smaller reproducer yet; so this is still slow to determine.

[2020-10-08 20:10] nolanmar511 commented on #697
It looks like node v12.17.0 may also be impacted.

[2020-10-12 17:43] nolanmar511 commented on #697
At this point in time, I would recommend that users either use Node 12.15.0 or earlier or do not use the Node.js profiling agent.
Node 12.16.0 on and Node 14.0.0 on have memory leaks when profiling agents are enabled.

[2020-10-12 17:50] kalyanac commented on #697
Thank you for looking into this. Please add it to known issues on https://cloud.google.com/profiler and this repo home page.

[2020-10-12 20:06] nolanmar511 opened #700 "Enable Profiler with Node 14 and later versions of Node 12 once memory leak is fixed."
See https://github.com/googleapis/cloud-profiler-nodejs/issues/697 for more information on memory leak.

[2020-10-20 20:54] build-cop-bot[bot] opened #702 "createProfiler: many tests failed"
Many tests failed at the same time in this package.

* I will close this issue when there are no more failures in this package _and_
  there is at least one pass.
* No new issues will be filed for this package until this issue is closed.
* If there are already issues for individual test cases, I will close them when
  the corresponding test passes. You can close them earlier, if you prefer, and

[2020-10-20 21:15] nolanmar511 commented on #702
Tests failed with Node 13: https://source.cloud.google.com/results/invocations/e1ed881b-5a9f-439a-ba01-a35231a99007/targets/cloud-devrel%2Fclient-libraries%2Fnodejs%2Fcontinuous%2Fgoogleapis%2Fcloud-profiler-nodejs%2Fnode13%2Ftest/log

So, these failures are expected following https://github.com/googleapis/cloud-profiler-nodejs/pull/699 (which prevents the agent from starting with versions of Node

[2020-10-22 15:43] psmarshall commented on #697
I logged a new bug in V8 as the other one turned out to be unrelated: [v8:11051](https://bugs.chromium.org/p/v8/issues/detail?id=11051) . The status update is that I think we've found the root cause, working on a fix at the moment which we should be able to backport to Node 12 LTS.

There is a workaround the pprof module could use in bindings/profiler.cc: Use a new CpuProfiler object for each prof

[2020-10-22 16:49] nolanmar511 commented on #697
Awesome!
I'm working on implementing and testing the work-around in pprof-nodejs now.

[2020-10-30 22:27] #702 closed

[2020-10-30 23:15] #697 closed

[2020-11-03 02:21] nolanmar511 commented on #697
I've confirmed that the latest version of `@google-cloud/profiler` does not have the memory leak.

[2020-11-19 17:50] aalexand commented on #683
https://github.com/nodejs/diagnostics/issues/444 is related to this I think.

[2020-12-03 06:05] PuKoren commented on #700
Hello. Should this be closed? From the last commits it seems that the support for node 14 has been enabled again, but this issue leave me with a doubt

[2020-12-03 15:19] nolanmar511 commented on #700
Yes, sorry for the delay in closing this issue. This was fixed with release of Node 14.

[2020-12-03 15:19] #700 closed

[2021-01-21 13:08] forking-renovate[bot] opened #715 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:04] #715 closed

[2021-06-06 09:31] raymondma1 opened #741 "Cloud Profiler uses significantly more memory after upgrading to >=12.0.0"
Potentially related to #697

"gogle profiler version "@google-cloud/profiler": "^4.1.0",
"node": ">=12.0.0"

runtime: nodejs12
instance_class: b2
basic_scaling:
  idle_timeout: 1m
  max_instances: 5

Recently updated our app engine service to nodejs12 from nodejs10 and we're noticing a significant increase in memory usage. Eventually, our service returns a 502 after some amount of time of being up

[2021-06-08 07:36] raymondma1 commented on #741
Closing since memory usage spiked back up eventually even after removing profiler.

[2021-06-08 07:44] aalexand commented on #741
@raymondma1 It would be interesting to learn what's the cause of this once you figure it out.

[2021-06-10 07:41] raymondma1 commented on #741
Took a while to figure it out but it was actually because of the deprecated request & request promise libraries.

Specifically this issue: https://github.com/request/request/issues/3214

Everything went back to normal usage as soon as we migrated off of it.

[2021-06-25 14:20] patrickmdixon opened #750 "@google-cloud/profiler Failed to initialize SourceMapper"
#### Environment details

  - OS: linux-alpine
  - Node.js version: 12.22.1
  - npm version: 6.13.7
  - `@google-cloud/profiler` version:

We've recently installed Profiler in one of our services, and are getting the following error on process startup:

`@google-cloud/profiler Failed to initialize SourceMapper. Source map support has been disabled: Error: An error occurred while processing the sou

[2021-08-03 01:47] Temikus commented on #28
Hey folks, long time no see 👋 I'm now on the other side of the screen and my new company is trying to use Cloud Profiler to better understand our memory consumption.

Unfortunately now we have a P99 HTTP-client latency of 1H in all our tracing, which throws off our app monitoring. Which makes this a pretty serious show-stopper.

Is it possible to address at all? It's a shame it's been open for 4+

[2021-08-03 01:47] Temikus commented on #28
/CC @JustinBeckwith - hey Justin, sorry to bother you but is it possible to prioritise?

[2021-08-04 23:41] Temikus commented on #28
Alright, another try. @fhinkel ?

[2021-08-04 23:50] JustinBeckwith commented on #28
Heh, hey @Temikus :)  This repository is entirely owned by @nolanmar511 and the profiler team. Will ping internally.

[2021-08-04 23:51] Temikus commented on #28
Legend! Thanks ❤️

[2021-08-20 03:46] Temikus commented on #28
Sorry folks, but we’ll be switching away from GCP profiler due to our metrics being skewed by this bug and Datadog offering a much better profiler experience.

You can deprioritise this again if you prefer.

[2021-08-25 05:08] forking-renovate[bot] opened #761 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): update actions/setup-node action to v2
 - [ ] chore(deps): update codecov/codecov-action action to v2

## Ignored or Blocked

These

[2021-09-14 15:31] #761 closed

[2021-10-11 23:36] amchiclet commented on #750
Sorry for the delay. I've finally been able to prioritize this and just wanted to let you know that I'm looking into this now.

[2021-11-23 23:12] ckdarby commented on #28
Coming here to echo what @Temikus has said. Kind of unacceptable this hasn't been solved yet because it messes with all p99 data.

CC @nolanmar511

[2021-12-02 18:27] amchiclet commented on #750
I will give this a couple more days, then close this as non-reproducible. If you can provide us more information to reproduce the problem, I can look further into it.

[2021-12-06 17:02] #750 closed

[2021-12-20 22:29] nolanmar511 opened #787 "@google-cloud/profiler was released, despite failing continuous Kokoro tests"
Following https://github.com/googleapis/cloud-profiler-nodejs/issues/245 (in which a change to @google-cloud/common broke server-specified backoffs for this agent) we added a continuous Kokoro integration test to validate that the agent respects server-specified backoffs. Because this E2E test is long-running (the test can't be completed in less than 45 minutes), this test is run only as a continu

[2022-01-11 07:32] Venryx commented on #157
`process.memoryUsage()` also returns an `arrayBuffers` property, if you want to distinguish between all external memory and just the array buffers.

[2022-01-12 18:49] repo-metadata-lint[bot] opened #792 "Your .repo-metadata.json file has a problem 🤒"
You have a problem with your .repo-metadata.json file:

Result of scan 📈:

* api_shortname 'profiler' invalid in .repo-metadata.json

 ☝️ Once you correct these problems, you can close this issue.

Reach out to **go/github-automation** if you have any questions.

[2022-02-06 23:04] jonahsnider opened #800 "Just importing this package in a non-GCP environment logs errors to console"
## Description

Just importing this package (not calling `.start()`) in a non-GCP environment causes the following message to be printed to the console:

[code]

Introduced in #780

## Reproduction

0. Clone this repo, `npm install`, `npm run compile`
1. Run `node .`
2. Wait ~8s as the profiler initializes
3. The message should be printed to the console immediately before the program exits without

[2022-04-06 15:20] SurferJeffAtGoogle opened #813 "tests failing while gyp tries to compile source code"
[code]

[2022-04-06 15:36] nolanmar511 commented on #813
This repo depends on a library with a native portion which does not test against windows and does not have pre-built windows binaries (https://github.com/googleapis/cloud-profiler-nodejs#prerequisites).

Since Cloud Profiler does not formally running this agent on a non-linux operating system (see https://cloud.google.com/profiler/docs/about-profiler#environment_and_languages), removing tests agai

[2022-04-18 22:12] SurferJeffAtGoogle commented on #813
This will be fixed when @alexander-fenster removes the Windows tests.

[2022-04-20 19:03] Skitelman opened #823 "Node v16 Support"
It is unclear from your [documentation](https://cloud.google.com/profiler/docs/profiling-nodejs#cloud-console) if you support profiling apps running Node 16.0.0 or higher running on the 16.x branch. Do you know if you support Node v16 profiling and if not, do you know when you will?

[2022-05-03 20:16] amchiclet commented on #823
Yes, it is the team's intention to support node v16.

Updating the tests to test against node 16 is on my things to do. I hope to work on this within 1-2 weeks, but can't really commit to it because there are other things on my plate now.

Looks like the document also needs to be updated; thanks for pointing that out.

[2022-05-06 19:27] amchiclet commented on #813
Windows tests are removed by this [PR](https://github.com/googleapis/cloud-profiler-nodejs/pull/830).

[2022-05-06 19:27] #813 closed

[2022-05-16 21:00] failure-checker[bot] opened #836 "Warning: a recent release failed"
The following release PRs may have failed:

* #834

[2022-05-16 22:00] #836 closed

[2022-05-23 11:27] TJB-99 commented on #823
Node v16 support would be really great. Is there any update on this?

[2022-05-23 17:21] amchiclet commented on #823
I made some progress updating some tests, but I'm not there yet.

The work includes deprecating old versions of Node too, so it's a bit more than I originally expected.

[2022-08-15 11:44] weyert commented on #823
Any news on the progress of supporting Node 16? Are you planning to also support Node 18? As it's expected to be LTS on 2022-10-25

[2022-08-22 15:01] amchiclet commented on #823
Sorry it's taking a while. I'll try to pick this up if I have some available cycles.

Adding support for node 16 should be straightforward. For node 18, it's more [complicated](https://github.com/google/pprof-nodejs/issues/170#issuecomment-1163210123).

[2022-09-22 20:51] nolanmar511 commented on #19
Closing this issue.

UI doesn't show line number, so closing for now.

[2022-09-22 20:51] #19 closed

[2022-09-25 10:05] dorbenzvi opened #855 "Support serverless (aws lambda)"
I'm trying to install the profiler on aws lambda.

As soon as I trigger the lambda I get this error:

`Error: Cannot find module '/var/task/node_modules/@google-cloud/profiler/node_modules/pprof/build/node-v83-linux-x64-glibc/pprof.node`

It should work on aws lambda?
Also tried create the files using node-gyp but I didn't fully understand how to do that.

[2022-10-05 21:16] edriang opened #856 "Cloud Profiler on Cloud Run"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Hi there! I wanted to check how can I have Cloud Profiler running with my Cloud Run instances.

I've followed the steps to integrate, but I'm getting the following error (seeing this in Clou

[2022-10-27 22:34] aabmass commented on #856
Sounds like the profiler is trying to query a [metadata server](https://cloud.google.com/compute/docs/metadata/overview) but it doesn't exist in Cloud Run. Try setting these fields in the config to avoid hitting the metadata server: https://github.com/googleapis/cloud-profiler-nodejs/blob/f0ef65053dc285f317106373efa089e00f105b0c/src/index.ts#L129

That said, YMMV with Cloud Run as its not official

[2022-11-30 19:19] bcoe commented on #787
I have created an internal tracking ticket for this, as it relates to the release infrastructure as a whole vs., just profiler.

[2022-11-30 19:19] #787 closed